@use '../../abstracts' as u;

.about-me {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--background) 10%,
    var(--primary) 100%
  );

  &.animate {
    text {
      animation: pop-up 0.4s ease-out 1s forwards;
    }

    .about-me__frame {
      animation: path-length 4s ease-in-out forwards;

      @keyframes path-length {
        to {
          stroke-dasharray: 1;
        }
      }
    }
  }

  // Hide for mobile

  h2,
  h3 {
    height: 0;
    width: 0;
    overflow: hidden;
    margin: 0;
  }

  h3 {
    position: relative;
    display: flex;
    padding-inline-end: 100px;

    justify-content: space-between;
    font-size: 3rem;
    font-weight: 500;
  }

  &__frame {
    display: none;
  }

  &__text {
    max-width: 65ch;
    min-width: 25ch;

    p:first-child {
      margin-block-end: 1em;
    }
  }
}

/* About Me - Widget */

.widget {
  width: clamp(345px, 85%, 500px);
  margin-block-start: -100px;
  display: grid;
  align-items: center;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__text {
    font-family: 'Playfair Display';
    overflow: hidden;

    & > text {
      position: relative;
      font-size: 16px;
      opacity: 0;

      &:last-child {
        font-size: 12px;
      }
    }

    @include u.random-delay(text, 0.5s, 2, 5);

    & > text:nth-child(2) {
      transform: translate(5px, 5px);
    }
    & > text:nth-child(3) {
      transform: translate(2px, 5px);
    }
    & > text:nth-child(4) {
      transform: translate(-5px, 5px);
    }
    & > text:nth-child(5) {
      transform: translate(0px, 5px);
    }

    @keyframes pop-up {
      to {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }

  &__avatar {
    width: clamp(242px, 65%, 400px);
    aspect-ratio: 1 / 1;
    margin-inline: auto;
    background-color: var(--saturated);
    transform-origin: center;
    animation: spin 90s linear infinite;
    mask: url('./../assets/svg/widget-star.svg') no-repeat;
    mask-size: cover;
  }

  img {
    width: 100%;
    transform-origin: center;
    animation: spin 90s linear reverse infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
