@use '../../abstracts/mixins' as m;

.about-me {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--background) 10%,
    var(--primary) 100%
  );

  &.animate {
    text {
      animation: pop-up 0.4s ease-out 1s forwards;
    }
  }

  // Hide for mobile

  h2,
  h3 {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .wrapper h3 {
    margin: 0;
  }

  &__frame {
    display: none;
  }

  &__text > * + * {
    margin-block-start: 1rem;
  }
}

/* About Me - Widget */

.widget {
  width: clamp(345px, 85%, 500px);
  display: grid;
  align-items: center;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__text {
    font-family: 'Playfair Display';
    overflow: hidden;

    & > text {
      position: relative;
      font-size: 16px;
      opacity: 0;

      &:last-child {
        font-size: 12px;
      }
    }

    @include m.random-delay(text, 0.5s, 2, 5);

    & > text:nth-child(2) {
      transform: translate(5px, 5px);
    }
    & > text:nth-child(3) {
      transform: translate(2px, 5px);
    }
    & > text:nth-child(4) {
      transform: translate(-5px, 5px);
    }
    & > text:nth-child(5) {
      transform: translate(0px, 5px);
    }

    @keyframes pop-up {
      to {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }

  &__avatar {
    width: clamp(242px, 65%, 400px);
    aspect-ratio: 1 / 1;
    margin-inline: auto;
    background-color: var(--saturated);
    transform-origin: center;
    animation: spin 90s linear infinite;
    mask: url('./../assets/svg/widget-star.svg') no-repeat;
    mask-size: cover;
  }

  img {
    width: 100%;
    transform-origin: center;
    animation: spin 90s linear reverse infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
