@use '../../abstracts/mixins' as m;

.hero {
  &.wrapper {
    @include m.flex-container(column, space-between, null);
    overflow: visible;
  }

  &__text {
    max-width: 520px;
    align-self: start;

    .small {
      display: block;
      font-size: clamp(1.25rem, 3vw, 2rem);
      font-family: var(--main-font);
      letter-spacing: 2px;
      color: var(--text);
      max-width: max-content;
    }

    h1 {
      max-width: 13ch;
    }

    h1 > span {
      color: var(--accent);
    }

    .btn {
      display: none;
    }
  }

  img {
    min-width: 342px;
    width: 100%;
  }

  &__img {
    position: relative;
    align-self: flex-end;
    // width: 120%;
    max-width: 500px;
    transform: translate(calc(43% - 30vw), -175px);
    z-index: -1;

    .outline {
      position: absolute;
      inset: 0;
      width: 122%;
      transform: translate(-9%, -8%);
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7)
      );
      @include m.random-duration(path, 5, outline-rotate);

      path {
        stroke-width: 0.6;
        transform-origin: 65% 70%;
      }

      @keyframes outline-rotate {
        to {
          transform: rotate(-2deg);
        }
      }
    }
  }

  .lines {
    margin-block-start: -150px;
    transform: translateX(-1rem);

    .lines-svg {
      min-width: 100vw;
      height: 100%;
    }
  }
}
