@use '../../abstracts/mixins' as m;

@use '../gallery/gallery-cards/card-03';
@use '../gallery/gallery-cards/card-04';
@use '../gallery/gallery-cards/card-10';
@use '../gallery/gallery-cards/card-17';
@use '../gallery/gallery-cards/card-22';

.portfolio {
  position: relative;
  min-height: 550px;
  text-align: center;
  font-size: 16px;

  &::after {
    @include m.pseudo;
    inset: 0;
    height: 100%;
    background: url('../../assets/svg/dots-background.svg') no-repeat 70% 70%;
    mask-image: linear-gradient(to bottom, transparent 15%, black 140%);
    z-index: -2;
  }

  $color-palette-gallery: hsl(312, 100%, 96%), hsl(251, 100%, 89%),
    hsl(45, 100%, 84%), hsl(30, 100%, 88%), hsl(152, 100%, 80%);
  @include m.set-color-palette(
    '.portfolio-gallery__card',
    $color-palette-gallery,
    true
  );

  .portfolio-gallery {
    @include m.flex-container(null, center, null);
    width: 100%;
    max-width: 900px;

    &__card {
      position: relative;
      min-width: 105px;
      width: clamp(105px, 25vw, 250px);
      aspect-ratio: 3/5;
      border: var(--border);
      border-radius: 25px;
      overflow: hidden;
      transition: transform 0.3s ease-out;

      &::after {
        @include m.pseudo;
        inset: 0;
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
      }

      &:not(:first-child) {
        margin-inline-start: -3em;
      }

      &:is(:hover, :focus-visible) {
        &::after {
          opacity: 0;
        }

        @container main (max-width: 849px) {
          transform: translateY(-2em);

          & ~ .portfolio-gallery__card {
            transform: translateX(calc(-3em * -1));
          }
        }
      }

      > * {
        @include m.center-element;
        position: relative;
        @include m.filling-element;
      }
    }

    .card-03 {
      background-color: hsl(0, 0%, 15%);

      .frame {
        scale: 1.4;
      }
    }

    .card-04 {
      background-color: hsl(152, 100%, 80%);
    }

    .card-10 {
      background-color: hsl(45, 100%, 84%);

      .center {
        width: 90%;
      }

      .data {
        font-size: clamp(0.25rem, 60%, 0.75rem);
      }
      .time {
        font-size: clamp(1rem, 6vw, 2.5rem);
      }
    }

    .card-17 {
      background-image: repeating-linear-gradient(
        45deg,
        rgb(255, 248, 248) 0 10%,
        hsl(120, 0%, 14%) 10% 11%
      );
      .center {
        scale: 1.7;
      }
    }

    .card-22 {
      background-color: hsl(201, 32%, 19%);

      .frame {
        padding: 0;
      }

      .top,
      .data__text {
        font-size: clamp(0.75rem, 2vw, 16px);
      }

      .top span,
      .center .data__text {
        font-size: clamp(1rem, 2vw, 1.5rem);
      }

      .data__text span {
        font-size: clamp(0.5rem, 2vw, 0.825rem);
      }
    }
  }
}

// .buttons-gallery {
//   position: relative;
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
// }
