@use '../../abstracts/mixins' as m;

.skills {
  box-shadow: var(--shadow);

  & > .wrapper {
    position: relative;
  }

  .circle {
    position: absolute;
    width: clamp(600px, 100vw, 850px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: hsl(from var(--c-yellow) h s l / 0.19);
    transform: translate(-45%, 10%);
    z-index: -1;
  }

  div.skills__text {
    margin-inline: initial;

    p:first-child {
      margin-block-end: 1em;
    }
  }

  &__list {
    @include m.list-tab(8);

    &__item {
      width: fit-content;
      padding: 0.185em 1em;
      border-radius: 21px;
      font-weight: 700;
      text-wrap: nowrap;
      background-color: hsl(from var(--c-yellow) h s l / 0.58);
      transition: transform 0.3s ease-out, background-color 0.3s ease-out;

      &:hover {
        background-color: hsl(from var(--c-saturated) h s l / 0.58);

        transform: translateX(1.5em);
      }
    }
  }

  &__container {
    @include m.center-element;
    width: 100%;
  }

  div:has(> .spark) {
    position: relative;
    width: 100%;
  }

  .window {
    @include m.window(var(--c-white));
    margin-block-start: 3.125rem;
    aspect-ratio: 4 / 3;
    justify-self: center;
    z-index: auto;

    &__header {
      @include m.flex-container(null, null, center);
      gap: 0.25em;
      height: 15%;
      padding-inline-start: 1rem;
      border-block-end: var(--border);
      border-radius: 22px 22px 0 0;
      background-color: var(--c-green);

      span {
        height: 60%;
        aspect-ratio: 1 / 1;
        border: 1px solid var(--c-black);
        border-radius: 50%;
        background-color: var(--c-white);
      }
    }

    .code-fallback,
    code {
      position: absolute;
      padding: 1rem;
      font-size: clamp(1rem, 0.97vw + 0.773rem, 1.5rem);
    }

    .code-fallback {
      font-family: monospace;
    }

    code {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      overflow-y: hidden;
    }
  }

  .spark {
    position: absolute;
    aspect-ratio: 1 / 1;
    margin: 0;
    fill: var(--c-orange);
    transition: filter 0.5s ease-in-out, scale 0.5s ease-in-out,
      rotate 0.5s ease-in-out;
  }

  .spark-1 {
    width: clamp(75px, 10vw, 100px);
    transform: translate(70vw, -80%);
  }

  .spark-2 {
    width: clamp(75px, 10vw, 150px);
    transform: translate(5%, -50%);
  }
}
