.animated-elements {
  --cat-size: clamp(200px, 30vw, 400px);
  pointer-events: none;

  .cat-wrapper {
    position: absolute;
    overflow-y: hidden;
    width: clamp(var(--cat-size), 50vw, 400px);
    height: calc(var(--cat-size) + 100px);
    bottom: -77px; // height of the footer
    right: 60vw;
    z-index: 2;

    pointer-events: none;
    user-select: none;
  }

  .cat {
    --pivot: 0% 63%;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform-origin: var(--pivot);
    transform: scale(1) translateY(-5%);
  }
}
