.animated-elements {
  --cat-size: 200px;
  pointer-events: none;

  .cat-wrapper {
    position: absolute;
    overflow-y: hidden;
    width: var(--cat-size);
    height: calc(var(--cat-size) + 100px);
    // bottom: -77px; // height of the footer
    // right: 60vw;
    // transform: translate(40vw, 100px);
    inset: auto auto -77px 0;
    z-index: 2;

    pointer-events: none;
    user-select: none;
  }

  .cat {
    --pivot: 0% 63%;

    position: absolute;
    width: var(--cat-size);
    height: var(--cat-size);
    transform-origin: var(--pivot);
    transform: scale(1) translate(0, 90px);
  }
}
