.footer {
  width: 100vw;
  border-block-start: 2px solid var(--accent);
  background-color: var(--accent);

  &__wrapper {
    height: 75px;
    padding-inline-end: 1em;
    line-height: 75px;
    text-align: right;

    p {
      font-size: 1.225rem;
    }
  }
}
