.footer {
  width: 100vw;
  background-color: var(--accent);
  border-block-start: 2px solid var(--text);

  .cat {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-2.5rem, -4.4rem);
  }
  &__wrapper {
    // width: clamp(375px, 70%, 900px);

    position: relative;
    display: grid;
    align-items: center;
    padding-inline-end: 1rem;
    justify-content: end;
    min-height: 4.6rem;
    text-align: right;
  }
}
