@use '../util/' as u;

nav {
  position: relative;
  width: 100vw;
  left: -1rem;
  max-width: 1200px;
  margin-inline: auto;
  margin-block-end: 1.5em;

  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0.5em 1em;
    background-color: var(--background);
    z-index: 100;
  }

  .logo {
    width: 55px;
    height: auto;
  }

  // BURGER OPEN

  .menu-btn {
    position: relative;
    width: 55px;
    height: 55px;
    z-index: 100;

    &__burger,
    &__burger::before,
    &__burger::after {
      width: 40px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--text);
      margin-inline: auto;
      transition: all 0.4s ease-in-out;
    }

    &__burger {
      position: relative;
      display: block;
      left: 0;

      &::before,
      &::after {
        @include u.pseudo;
        top: -11px;
        left: 0;
      }

      &::after {
        top: 11px;
      }
    }
  }

  // BURGER CLOSE

  &:has(.menu[aria-expanded='true']) .menu-btn > * {
    background: transparent;
    width: 0;

    &::before {
      transform: translate(-20px, 11px) rotate(405deg);
    }
    &::after {
      transform: translate(-20px, -12px) rotate(-405deg);
    }
  }
}

// MENU
nav {
  --animation-timing-function: linear(
    0,
    0.002 0.5%,
    0.008 1.1%,
    0.017 1.6%,
    0.031 2.2%,
    0.049 2.8%,
    0.07 3.4%,
    0.098 4.1%,
    0.129 4.8%,
    0.184 5.9%,
    0.257 7.2%,
    0.551 12.1%,
    0.671 14.2%,
    0.735 15.4%,
    0.789 16.5%,
    0.839 17.6%,
    0.881 18.6%,
    0.923 19.7%,
    0.957 20.7%,
    0.99 21.8%,
    1.019 22.9%,
    1.043 24%,
    1.063 25.1%,
    1.08 26.2%,
    1.094 27.4%,
    1.107 29%,
    1.114 30.7%,
    1.116 32.5%,
    1.112 34.5%,
    1.105 36.1%,
    1.095 37.9%,
    1.041 45.8%,
    1.018 49.9%,
    1.008 52.1%,
    1 54.4%,
    0.994 56.7%,
    0.99 59.1%,
    0.987 62.3%,
    0.987 65.9%,
    0.999 84.9%,
    1
  );

  .menu {
    display: none;
    position: absolute;
    left: 0;
    transform: translateY(-120%);
    width: 100vw;
    padding-block: 3em var(--padding-outline);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: var(--background);
    box-shadow: 7px 10px var(--text);
    text-align: center;
    font-size: 1.5rem;

    overflow: hidden;
    z-index: 99;

    &__link {
      display: block;
      padding: 1em;
      letter-spacing: 5%;

      &:active,
      &:hover {
        background-color: hsl(from var(--accent) h s l / 0.5);
      }
    }

    &[aria-expanded='false'] {
      animation: close-nav 0.65s forwards;
      animation-timing-function: var(--animation-timing-function);
    }

    &[aria-expanded='true'] {
      animation: open-nav 0.65s forwards;
      animation-timing-function: var(--animation-timing-function);
    }
  }

  & + .nav-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.2s ease-in-out, 0.2s ease-in-out;
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
  }

  &:has(.menu[aria-expanded='true']) + .nav-overlay {
    background-color: hsla(0, 0%, 0%, 0.8);
    opacity: 1;
    visibility: visible;
  }
}

// COLOR PALETTE

.color-palette {
  display: none;
  gap: 0.25em;
  justify-content: space-around;
  align-items: center;
  @include u.set-color-palette;

  span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }
}

// NAV ANIMATIONS

@keyframes open-nav {
  from {
    transform: translateY(-120%);
  }

  to {
    transform: translateY(-20%);
  }
}

@keyframes close-nav {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(-120%);
  }
}
