@use '../abstracts/mixins' as m;

.nav {
  --animation-timing-function: linear(
    0,
    0.002 0.5%,
    0.008 1.1%,
    0.017 1.6%,
    0.031 2.2%,
    0.049 2.8%,
    0.07 3.4%,
    0.098 4.1%,
    0.129 4.8%,
    0.184 5.9%,
    0.257 7.2%,
    0.551 12.1%,
    0.671 14.2%,
    0.735 15.4%,
    0.789 16.5%,
    0.839 17.6%,
    0.881 18.6%,
    0.923 19.7%,
    0.957 20.7%,
    0.99 21.8%,
    1.019 22.9%,
    1.043 24%,
    1.063 25.1%,
    1.08 26.2%,
    1.094 27.4%,
    1.107 29%,
    1.114 30.7%,
    1.116 32.5%,
    1.112 34.5%,
    1.105 36.1%,
    1.095 37.9%,
    1.041 45.8%,
    1.018 49.9%,
    1.008 52.1%,
    1 54.4%,
    0.994 56.7%,
    0.99 59.1%,
    0.987 62.3%,
    0.987 65.9%,
    0.999 84.9%,
    1
  );
  --menu-item-height: calc(1.5rem * 2 + 2rem);
  --nav-closed: calc(-9 * var(--menu-item-height));
  --nav-opened: calc(-1 * var(--menu-item-height) + var(--padding-outline));

  position: relative;

  .navbar {
    position: relative;
    @include m.flex-container(row, space-between, null);
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: var(--c-white);
    z-index: 99;
  }

  .logo,
  .logo > img,
  .menu-btn {
    width: 55px;
  }

  // Burger Opened

  .menu-btn {
    position: relative;
    z-index: 100;

    &__burger,
    &__burger::before,
    &__burger::after {
      width: 40px;
      height: 2px;
      border-radius: 2px;
      margin-inline: auto;
      background-color: var(--c-black);
      transition: all 0.4s ease-in-out;
    }

    &__burger {
      position: relative;
      display: block;

      &::before,
      &::after {
        @include m.pseudo;
      }

      &::before {
        transform: translate(-20px, -11px);
      }

      &::after {
        transform: translate(-20px, 11px);
      }
    }
  }

  // Burger Closed

  &:has(.menu[aria-expanded='true']) .menu-btn > * {
    width: 0;
    background: transparent;

    &::before {
      transform: translate(-20px, 0px) rotate(405deg);
    }
    &::after {
      transform: translate(-20px, 0px) rotate(-405deg);
    }
  }
}

// Menu
.nav {
  .menu__link,
  .lang-nav__link {
    letter-spacing: 0.1em;
  }

  .menu {
    position: absolute;
    width: 100vw;
    padding-block: var(--menu-item-height) var(--padding-outline);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 7px 12px var(--c-black);
    background: var(--c-white);
    text-transform: lowercase;
    text-align: center;

    overflow: hidden;
    z-index: 98;

    .menu-list {
      background-color: var(--c-white);
    }

    &__link {
      display: block;
      padding: 1rem;
      line-height: 2;
      font-size: 1.25rem;
    }

    &[aria-expanded='false'] {
      display: none;
      animation: close-nav 0.65s forwards;
    }

    &[aria-expanded='true'] {
      display: block;
      animation: open-nav 0.65s forwards;
    }

    &[aria-expanded='false'],
    &[aria-expanded='true'] {
      animation-timing-function: var(--animation-timing-function);
    }
  }

  & + .nav-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out, 0.2s ease-in-out;
    z-index: 10;
  }

  &:has(.menu[aria-expanded='true']) + .nav-overlay {
    background-color: hsla(0, 0%, 0%, 0.8);
    opacity: 1;
    visibility: visible;
  }
}

.menu__link:is(:focus-visible, :hover),
.lang-nav:is(:focus-visible, :hover) {
  background-color: hsl(from var(--c-orange) h s l / 0.5);

  & .lang-nav__btn {
    background-color: hsl(22.978724, 75%, 75%);
  }
}

button.menu__link {
  display: block;
  width: 100%;

  span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
}

.menu-list:has(.submenu[aria-expanded='true']) button.menu__link span {
  transform: rotate(90deg);
}

.submenu {
  max-height: 0px;
  padding-block: var(--padding-outline);
  transition: max-height 0.3s ease-in-out;
  overflow-y: clip;

  &[aria-expanded='false'] {
    display: none;
    animation: close-submenu 0.5s forwards;
  }

  &[aria-expanded='true'] {
    display: block;
    animation: open-submenu 0.5s forwards;
  }

  .menu__link {
    padding: 0.75rem 0.75rem 0.75rem 40%;
    text-align: left;
  }
}

.lang-nav {
  --slide-duration: 0.25s;
  --delay: 0.075s;
  --gap: 8px;
  --icon-offset: calc(var(--icon-size) + var(--gap));
  --icon-count: 4;
  --max-width: calc(
    (var(--icon-size) * var(--icon-count)) +
      (var(--gap) * (var(--icon-count) - 1))
  );

  --first-icon-open: translate(var(--icon-offset), 0);
  --second-icon-closed: translate(calc(-1 * var(--icon-offset)), 0);
  --third-icon-closed: translate(calc(-2 * var(--icon-offset)), 0);

  @include m.flex-container(null, center, null);
  height: fit-content;
  padding-block: 1rem;
  cursor: pointer;

  ul,
  &__item {
    width: var(--icon-size);
    height: var(--icon-size);
  }
  &__container,
  &__btn {
    width: 47px;
    height: 47px;
  }

  &__container {
    display: inline-grid;
    align-items: center;
    transition: width var(--slide-duration) ease-out;

    & > * {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }

  &__btn {
    position: relative;
    fill: var(--c-black);
    transform: translateX(-1px);
    z-index: 4;

    &:is(:focus-visible, :hover, :focus-within) {
      outline-color: transparent;
    }

    svg {
      @include m.filling-element;
      padding: 8px;
    }
  }

  &__btn,
  &__item {
    border-radius: var(--icon-border-radius);
    background-color: var(--c-white);
  }

  ul {
    display: inline-flex;
    gap: var(--gap);

    transition: transform var(--slide-duration) ease-out;
    transition-delay: calc(var(--stagger-index) * var(--delay));
  }

  &__item {
    flex-shrink: 0;
    border: var(--border);
    line-height: 1.7;
    user-select: none;
    pointer-events: none;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      transform var(--slide-duration) ease-out
        calc(var(--stagger-index) * var(--delay));

    &[aria-selected='true'] {
      --stagger-index: 1;

      font-weight: 700;
      text-transform: uppercase;
      color: var(--c-white);
      background-color: var(--c-black);
      z-index: 3;
    }

    &:nth-child(2) {
      --stagger-index: 2;
      z-index: 2;
    }

    &:nth-child(3) {
      --stagger-index: 3;
    }

    a {
      display: block;
      font-size: 24px;
    }

    &:hover:not([aria-selected='true']) {
      border: var(--border);
      color: var(--c-white);
      background-color: var(--c-black);
    }
  }

  // Opened lang-nav
  &[aria-expanded='true'] {
    .lang-nav__container {
      width: var(--max-width);
    }

    ul {
      transform: var(--first-icon-open);
    }

    .lang-nav__item:not([aria-selected='true']) a {
      pointer-events: all;
    }
  }

  // Closed lang-nav
  &[aria-expanded='false'] {
    .lang-nav__container {
      width: var(--icon-size);
      transition-delay: calc(var(--slide-duration) + var(--delay) * 3);
    }

    ul {
      --stagger-index: 3;
      transform: translateX(0px);
    }

    .lang-nav__item {
      &:nth-child(2) {
        --stagger-index: 2;
        transform: var(--second-icon-closed);
      }

      &:nth-child(3) {
        --stagger-index: 1;
        transform: var(--third-icon-closed);
      }
    }

    a {
      pointer-events: none;
    }
  }
}

/* Nav Animations */

@keyframes open-nav {
  from {
    transform: translateY(var(--nav-closed));
  }
  to {
    transform: translateY(var(--nav-opened));
  }
}

@keyframes close-nav {
  from {
    transform: translateY(var(--nav-opened));
  }
  to {
    transform: translateY(var(--nav-closed));
  }
}

@keyframes open-submenu {
  from {
    padding: 0;
    max-height: 0px;
  }
  to {
    max-height: 400px;
  }
}

@keyframes close-submenu {
  from {
    max-height: 400px;
  }
  to {
    max-height: 0px;
    padding: 0;
  }
}
