.spotlight {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;

  &--outer {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    background-color: hsla(from var(--accent) h s l / 0.4);
    mix-blend-mode: multiply;
  }
}
