@use '../../abstracts/mixins' as m;

.loader {
  position: absolute;
  display: grid;
  bottom: -5em;
  width: 200px;
  height: 80px;
  height: auto;
  padding-block-start: 2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  span {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    transform: translateY(80px);

    animation: loaderAnimation 1s alternate infinite
      cubic-bezier(0.86, 0, 0.07, 1);
  }

  @include m.random-delay(span, 70ms, 1, 7);

  &__letter {
    display: grid;

    svg {
      width: 200px;
      height: 80px;
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      fill: var(--c-white);
      stroke-width: 0.5;
      stroke: var(--c-black);
    }

    svg.loader__shadow {
      position: relative;
      fill: var(--c-black);
      stroke-width: 0;
      transform: translate(6px, 3px);
      z-index: -1;
    }
  }
}

@keyframes loaderAnimation {
  to {
    transform: translateY(0px);
  }
}
