.card-30 {
  &:is(:hover, .animate, :focus-visible) {
    .animal,
    .purr {
      animation-play-state: running;
    }
  }

  &.reset {
    .animal,
    .purr {
      animation: none;
    }
  }

  .card__top {
    position: relative;
    background-color: var(--c-orange);
  }

  .frame {
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: none;
  }
  svg.animal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .animal {
    height: 250px;
    stroke-linecap: round;
    stroke-dasharray: 106;
    animation: flow 7s ease-in-out;
    animation-play-state: paused;
  }

  @keyframes flow {
    0% {
      stroke-dashoffset: -100;
    }
    5% {
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }

  @keyframes drop {
    0% {
      opacity: 1;
    }
    5%,
    100% {
      r: 10;
      opacity: 0;
    }
  }

  .purr {
    position: absolute;
    width: 50px;
    height: 22px;
    animation: purr 1.5s linear infinite 7s;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    animation-play-state: paused;
  }

  .purr-1 {
    top: 27%;
    left: 42%;
    transform: rotate(-40deg);
  }

  .purr-2 {
    top: 42%;
    right: 12%;
    transform: rotate(58deg);
    animation-delay: 7.2s;
  }

  @keyframes purr {
    100% {
      stroke-dashoffset: -110;
    }
  }
}
