.card-41 {
  &:is(:hover, .animate, :focus-visible) {
    .error {
      animation-play-state: running;
    }
  }
  .card__top {
    padding: 20px;
    background: hsl(0, 0%, 15%);
  }
  button {
    display: block;
    border-radius: 0;
    background: none;
  }

  .error {
    display: grid;
    grid-template-rows: auto 50px;
    width: clamp(270px, 70%, 300px);
    height: 230px;
    border-radius: 3px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    text-align: center;
    transform-origin: center;
    overflow: hidden;

    animation: open41 0.8s ease-in-out forwards;
    animation-play-state: paused;

    &__message {
      display: grid;
      justify-content: center;
      align-content: center;

      & * + * {
        margin-block-end: 10px;
      }
    }
  }

  .error.close {
    animation: shrink41 0.7s ease-in-out forwards;
  }

  .error i {
    margin-block-end: 15px;
    color: hsl(0, 90%, 65%);
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  .card__top p {
    max-width: 25ch;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .btn {
    width: 100%;
    border: none;
    font-size: 16px;
    color: white;
    background-color: hsl(0, 90%, 65%);
    cursor: pointer;
    border: 3px solid transparent;
    transition: background-color 0.3s ease-in-out;

    &:focus-visible {
      border: 3px dashed var(--c-black);
      outline: none;
    }
  }

  button.reset-btn {
    position: absolute;
    width: 150px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    color: white;
    background-color: hsl(0, 90%, 65%);
    visibility: hidden;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;

      &:focus-visible {
        outline-color: var(--c-white);
      }
    }
  }

  .btn:is(:hover, :focus-visible),
  button.reset-btn:is(:hover, :focus-visible) {
    background-color: hsl(0, 83%, 56%);
  }

  @keyframes shrink41 {
    30% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes open41 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}
