@use '../../../abstracts' as u;

.card-26 {
  .card__top {
    background: hsl(0, 20%, 83%);
  }

  .frame {
    width: 250px;
    height: 160px;

    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(5, 29%, 33%);
    text-align: center;
    overflow: visible;
    opacity: 0;
    animation: appear-26 0.7s ease-in-out forwards;
  }

  .frame.disappear {
    animation: disappear-26 0.5s ease-in-out forwards;
  }

  /*
	.card.appear {
	} */
  .content {
    position: absolute;
    padding: 30px 25px;
    @include u.filling-element;
    opacity: 0;
    pointer-events: none;

    &:first-child {
      opacity: 1;
    }
  }

  @keyframes appear-26 {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
  }
  @keyframes disappear-26 {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.1);
      pointer-events: none;
    }
  }
  .page {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 5px 10px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    color: white;
    background-color: hsl(262, 30%, 60%);
  }

  .heading {
    margin-block-end: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  .content__text {
    font-size: 14px;
    color: hsl(5, 29%, 43%);
  }

  button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: hsl(0, 40%, 55%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
  }
  button:is(:hover, :focus-visible) {
    background-color: hsl(0, 40%, 40%);
  }
}
