@use '../../../abstracts/' as u;

.card-08 {
  &:is(:hover, .animate, :focus-visible) {
    .lava,
    .bubble,
    .bubble::before,
    .bubble::after {
      animation-play-state: running;
    }
  }

  .center {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    filter: contrast(20);
  }

  .lava,
  .bubble {
    background-color: #ffffff;
    filter: blur(8px);
  }

  .lava {
    height: 100px;
    width: 100px;
    border-radius: 45%;
    animation: move8 5s linear infinite, color8 5s linear infinite;
    animation-play-state: paused;
  }

  .bubble {
    position: absolute;
    border-radius: 50% 40% 50% 40% / 40% 50% 50% 50%;

    animation: spin8 2s linear infinite, color8 5s linear infinite;
    animation-play-state: paused;

    &::after {
      animation: spin8 5s linear infinite, color8 5s linear infinite;
      animation-play-state: paused;
    }

    &::before {
      animation: spin8 3s linear infinite, color8 5s linear infinite;
      animation-play-state: paused;
    }
  }

  .bubble.big {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 20%;
    transform-origin: 170% 90%;
  }

  .bubble.big:nth-child(odd) {
    top: 10%;
    left: 170%;
    transform-origin: 50% 250%;
    animation-delay: 1.2s;
  }

  .bubble.mid {
    width: 40px;
    height: 40px;
    transform-origin: 170% 0%;
    animation-delay: 0.5s;
  }

  .bubble.small {
    width: 30px;
    height: 30px;
    top: 10%;
    left: 50%;
    transform-origin: 40% -100%;
    animation-delay: 1s;
  }

  .bubble.small:nth-child(odd) {
    top: 60%;
    left: 0%;
    transform-origin: 10% 200%;
    animation-delay: 0.7s;
  }

  .bubble::after {
    position: absolute;
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform-origin: -5% -100%;
  }

  .bubble::before {
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -150%;
    left: 100%;
    transform-origin: 50% 150%;
  }

  @keyframes color8 {
    0% {
      background-color: white;
    }
    20% {
      background-color: rgb(133, 224, 255);
    }
    30% {
      background-color: rgb(255, 171, 171);
    }
    50% {
      background-color: rgb(187, 255, 180);
    }
    90% {
      background-color: rgb(255, 184, 112);
    }
    100% {
      background-color: white;
    }
  }

  @keyframes move8 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
