@use '../../../abstracts/' as u;

article.card-13 {
  .card__top {
    position: relative;
    display: block;
    background-color: var(--background);
  }

  .user-gallery {
    height: 100%;
    width: 100%;
    border: 5px solid var(--background);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  .user-gallery__img {
    position: relative;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

  .user-gallery__img .gallery__overlay {
    @include u.center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .user-gallery__img:last-child img {
    transform: scale(1.05);
  }

  .open-profile,
  .cta {
    @include u.center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--accent);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .gallery__overlay .open-profile {
    @include u.center;
    transform: scale(2.5);
    opacity: 0;
  }

  .user-gallery__img .gallery__overlay {
    $bg: rgba(0, 0, 0, 0.7);

    &:is(:hover, :focus-visible) {
      background-color: $bg;
    }

    &:is(:hover, :focus-visible) .open-profile {
      transform: scale(1);
      opacity: 1;
    }

    &:focus-visible .open-profile {
      outline: 3px dashed u.outline-clr($bg);
      outline-offset: 3px;
    }
  }

  .open-profile::before,
  .open-profile::after {
    display: block;
    content: '';
    background-color: var(--background);
    height: 20px;
    width: 3px;
    border-radius: 2px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-inline: auto;
  }

  .open-profile::after {
    height: 3px;
    width: 20px;
  }

  .profile {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .open.profile {
    height: 100%;
    pointer-events: all;
  }

  .profile-header {
    position: absolute;
    height: calc(50% - 20px);
    top: calc(-50% + 20px);
    background-color: var(--background);
  }

  .open .profile-header {
    top: 0;
  }

  .profile-bg {
    $bg: hsl(20, 73%, 58%);
    @include u.outline-theme($bg);

    display: grid;
    align-content: center;
    gap: 15px;
    position: absolute;
    bottom: calc(-50% - 20px);
    height: calc(50% + 20px);
    width: 100%;
    padding-block-start: 20px;

    .buttons {
      margin-inline: auto;
      width: auto;
      display: flex;
      gap: 15px;
      justify-content: space-between;
    }

    .buttons button {
      display: grid;
      place-items: center;
      font-size: 1.25rem;
      height: 50px;
      width: 50px;
      border: 1px solid var(--background);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      color: var(--background);

      &:is(:hover, :focus-visible) {
        color: var(--accent);
        background-color: var(--background);
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .open .profile-bg {
    bottom: 0;
    transition: bottom 1s ease-in-out;
  }

  .profile .name {
    text-align: center;
  }

  .profile-pic {
    width: 100px;
    position: absolute;
    top: calc(-50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--background);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
  }
  .open .profile-pic {
    top: calc(50% - 20px);
  }

  .cta.close {
    position: absolute;
    top: -60px;
    right: 10px;
    color: var(--background);
    font-size: 1.725rem;
    rotate: 45deg;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out, border 0.5s ease-in-out;
  }

  .cta.close:is(:hover, :focus-visible) {
    border: 1px solid var(--accent);
    color: var(--accent);
    background-color: var(--background);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .open .cta.close {
    top: 10px;
  }

  .open .profile-header {
    transition: top 1s ease-in-out;
  }

  .open .profile-pic {
    transition: top 1s ease-in-out 0.2s;
  }

  .open .cta.close {
    transition: top 1s ease-in-out 0.6s, color 0.5s ease-in-out,
      background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      border 0.5s ease-in-out;
  }

  .cta.close {
    transition: top 1s ease-in-out, color 0.5s ease-in-out,
      background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      border 0.5s ease-in-out;
  }

  .profile-pic {
    transition: top 1s ease-in-out 0.4s;
  }
  .profile-bg {
    transition: bottom 1s ease-in-out 0.6s;
  }
  .profile-header {
    transition: top 1s ease-in-out 0.6s;
  }
}
