@use '../../../abstracts/mixins' as m;

.card-21 {
  &:is(:hover, .animate, :focus-visible) {
    .pacman,
    .eye,
    .points,
    .red-ghost,
    .blue-ghost {
      animation-play-state: running;
    }
  }
  .card__top {
    @include m.flex-container(column, center, center);
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center {
    width: 120px;
    height: 120px;
  }

  .pacman {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: hsl(45, 80%, 60%);

    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 100% 50%, 100% 0%);
    animation: pacman 0.7s linear infinite;
    animation-play-state: paused;
    transform: rotate(-90deg);
  }

  @keyframes pacman {
    0%,
    100% {
      transform: rotate(-90deg);
      clip-path: polygon(
        0% 0%,
        0% 100%,
        50% 100%,
        50% 50%,
        50% 100%,
        100% 100%,
        100% 0%
      );
    }
    25%,
    75% {
      clip-path: polygon(
        0% 0%,
        0% 100%,
        50% 100%,
        50% 50%,
        100% 100%,
        100% 50%,
        100% 0%
      );
    }
    50% {
      transform: rotate(-45deg);

      clip-path: polygon(
        0% 0%,
        0% 100%,
        50% 100%,
        50% 50%,
        100% 50%,
        100% 50%,
        100% 0%
      );
    }
  }

  @keyframes pacman-2 {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(44deg);
    }
  }

  .eye {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: hsl(190, 0%, 20%);
    z-index: 5555;
    animation: pacman-eye 0.7s linear infinite;
    animation-play-state: paused;
  }

  @keyframes pacman-eye {
    0%,
    100% {
      transform: translate(30%, -280%);
    }
    50% {
      transform: translate(-15%, -300%);
    }
  }

  .points {
    position: absolute;
    top: 42%;
    right: -10%;
    width: 70%;
    stroke: hsl(45, 80%, 60%);
    stroke-width: 10;
    stroke-linecap: round;

    stroke-dasharray: 0 30;
    stroke-dashoffset: -90;
    animation: eat 2s linear infinite;
    animation-play-state: paused;
  }

  @keyframes eat {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .red-ghost,
  .blue-ghost {
    width: 60px;
    height: 60px;
  }
  .red-ghost {
    position: absolute;
    top: 10%;
    left: -20%;
    fill: red;
    stroke: red;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: red-waka 3s linear infinite 0.5s;
    animation-play-state: paused;
    transform: scaleX(-1);
  }

  @keyframes red-waka {
    0% {
      top: 10%;
      left: -20%;
    }

    15% {
      top: 10%;
      left: 15%;
    }
    30% {
      top: 80%;
      left: 15%;
    }

    45% {
      top: 80%;
      left: 60%;
    }

    55% {
      top: 60%;
      left: 60%;
    }
    65% {
      top: 60%;
      left: 85%;
      transform: scaleX(-1);
    }
    74% {
      transform: scaleX(1);
    }
    75% {
      top: 75%;
      left: 85%;
    }
    100% {
      top: 75%;
      left: -50%;
      transform: scaleX(1);
    }
  }

  .blue-ghost {
    fill: blue;
    stroke: blue;
    stroke-linecap: round;
    stroke-linejoin: round;
    right: -25%;
    position: absolute;
    animation: blue-waka 3s linear infinite;
    animation-play-state: paused;
  }

  @keyframes blue-waka {
    0% {
      bottom: 20%;
      right: -25%;
    }

    10% {
      right: 10%;
      bottom: 20%;
    }

    30% {
      right: 10%;
      bottom: 75%;
    }

    45% {
      right: 50%;
      bottom: 75%;
    }

    50% {
      bottom: 80%;
      right: 50%;
    }

    58% {
      bottom: 80%;
      right: 80%;
    }
    70% {
      bottom: 20%;
      right: 80%;
      transform: scaleX(1);
    }
    74% {
      transform: scaleX(-1);
    }
    75% {
      bottom: 20%;
      right: 70%;
    }
    76% {
      transform: scaleX(1);
    }
    90% {
      bottom: 80%;
      right: 70%;
    }
    100% {
      bottom: 80%;
      right: 120%;
    }
  }
}
