@use '../../../abstracts/' as u;

article.card-18 {
  &:is(:hover, .animate, :focus-visible) {
    .card {
      animation-play-state: running;
    }
  }

  .card__top {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  & > * {
    width: 100%;
  }

  .top,
  .bottom {
    height: 50%;
    width: 100%;
  }
  .top {
    background-color: var(--saturated);
  }
  .bottom {
    background-color: var(--accent);
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    perspective: 600px;
    -webkit-perspective: 600px;
    overflow: hidden;
  }
  .card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 350px;
    border-radius: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: rotate18 5s ease-out infinite;
    animation-play-state: paused;
  }

  .side-1 {
    background-color: var(--accent);
  }

  .side-2 {
    background-color: var(--saturated);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  @keyframes rotate18 {
    0%,
    50%,
    100% {
      transform: translate(-50%, -50%) rotateX(90deg);
      -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    }
    15% {
      transform: translate(-50%, -50%) rotateX(160deg);
      -webkit-transform: translate(-50%, -50%) rotateX(160deg);
    }
    20% {
      transform: translate(-50%, -50%) rotateX(40deg);
      -webkit-transform: translate(-50%, -50%) rotateX(40deg);
    }
    25% {
      transform: translate(-50%, -50%) rotateX(100deg);
      -webkit-transform: translate(-50%, -50%) rotateX(100deg);
    }
    30% {
      transform: translate(-50%, -50%) rotateX(75deg);
      -webkit-transform: translate(-50%, -50%) rotateX(75deg);
    }
    35% {
      transform: translate(-50%, -50%) rotateX(94deg);
      -webkit-transform: translate(-50%, -50%) rotateX(94deg);
    }
    40% {
      transform: translate(-50%, -50%) rotateX(86deg);
      -webkit-transform: translate(-50%, -50%) rotateX(86deg);
    }
    45% {
      transform: translate(-50%, -50%) rotateX(92deg);
      -webkit-transform: translate(-50%, -50%) rotateX(92deg);
    }
    65% {
      transform: translate(-50%, -50%) rotateX(30deg);
      -webkit-transform: translate(-50%, -50%) rotateX(30deg);
    }
    70% {
      transform: translate(-50%, -50%) rotateX(140deg);
      -webkit-transform: translate(-50%, -50%) rotateX(140deg);
    }
    75% {
      transform: translate(-50%, -50%) rotateX(70deg);
      -webkit-transform: translate(-50%, -50%) rotateX(70deg);
    }
    80% {
      transform: translate(-50%, -50%) rotateX(105deg);
      -webkit-transform: translate(-50%, -50%) rotateX(105deg);
    }
    85% {
      transform: translate(-50%, -50%) rotateX(85deg);
      -webkit-transform: translate(-50%, -50%) rotateX(85deg);
    }
    90% {
      transform: translate(-50%, -50%) rotateX(95deg);
      -webkit-transform: translate(-50%, -50%) rotateX(95deg);
    }
    95% {
      transform: translate(-50%, -50%) rotateX(88deg);
      -webkit-transform: translate(-50%, -50%) rotateX(88deg);
    }
  }
}
