@use '../../../abstracts/mixins' as m;

.card-11 {
  &:is(:hover, .animate, :focus-visible) {
    .shoe,
    .left-shoe .shoe,
    .right-shoe,
    .left-shoe {
      animation-play-state: running;
    }
  }

  .card__top {
    display: grid;
    grid-template-rows: 1fr 30%;
    background: radial-gradient(var(--c-white), var(--c-yellow));
  }

  .floor {
    @include m.filling-element;
    background-color: hsl(0, 0%, 14%);
  }

  .center {
    position: relative;
    @include m.filling-element;
  }

  .shoe {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 128px;
    width: 152px;
    background: url('https://100dayscss.com/codepen/doc-martens.svg');
    transform: rotate(10deg) translateY(3px);
    animation: rotate-shoes 1s ease-in-out infinite;
    animation-play-state: paused;
  }

  .left-shoe .shoe {
    animation: rotate-shoes 1s ease-in-out infinite 0.5s;
    animation-play-state: paused;
  }

  .left-shoe,
  .right-shoe {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    width: 152px;
    height: 300px;
    transform: rotate(10deg) translateX(-50%);
    transform-origin: 0% -80%;
    opacity: 0;
  }

  .right-shoe {
    animation: fade 0.5s ease-in-out forwards 0.3s, walk 1s ease-in-out infinite;
    animation-play-state: paused;
  }

  .left-shoe {
    transform: rotate(10deg) translateX(-50%);
  }

  .left-shoe {
    animation: fade 0.5s ease-in-out forwards 0.3s,
      walk 1s ease-in-out infinite 0.5s;
    animation-play-state: paused;
  }

  @keyframes walk {
    0% {
      transform: rotate(10deg) translateX(-50%);
    }
    50% {
      transform: rotate(-10deg) translate(-50%, -8px);
    }
    100% {
      transform: rotate(10deg) translateX(-50%);
    }
  }

  @keyframes rotate-shoes {
    0%,
    100% {
      transform: rotate(10deg) translateY(3px);
    }
    25% {
      transform: translateY(-20px);
    }
    50% {
      transform: rotate(-10deg) translateY(-3px);
    }
    75% {
      transform: rotate(0deg) translateY(10px);
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
