@use '../../../abstracts/mixins' as m;

.card-40 {
  min-width: calc(300px + 16px);

  .card__top {
    padding: 4px;
    background-color: #fff;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    // gap: 4px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: #fff;
    overflow: hidden;
  }

  .tile {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: black;
    cursor: pointer;
  }

  .tile button.ontop {
    position: relative;
    z-index: 10;
  }

  .tile button {
    @include m.filling-element;
    overflow: hidden;
    border: 3px solid #fff;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;

    &:focus-visible {
      border: 3px dashed #fff;
      outline: none;
    }

    img {
      height: 100%;
    }
  }

  .tile button.off {
    opacity: 0.1;
  }

  .tile button.open {
    transform: scale(3.078);

    &:focus-visible {
      border: 3px solid #fff;
    }
  }

  .wrapper .tile:first-child button {
    transform-origin: top left;
  }
  .wrapper .tile:nth-child(2) button {
    transform-origin: top center;
  }
  .wrapper .tile:nth-child(3) button {
    transform-origin: top right;
  }
  .wrapper .tile:nth-child(4) button {
    transform-origin: center left;
  }
  .wrapper .tile:nth-child(5) button {
    transform-origin: center;
  }
  .wrapper .tile:nth-child(6) button {
    transform-origin: center right;
  }
  .wrapper .tile:nth-child(7) button {
    transform-origin: bottom left;
  }
  .wrapper .tile:nth-child(8) button {
    transform-origin: bottom center;
  }
  .wrapper .tile:nth-child(9) button {
    transform-origin: bottom right;
  }
}
