.card-28 {
  &:is(:hover, .animate, :focus-visible) {
    .bell,
    .ring {
      animation-play-state: running;
    }
  }
  .card__top {
    background: var(--accent);
  }

  .wrapper {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
  }

  svg {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  svg.bell {
    width: 80px;
    height: auto;
  }

  .bell {
    transform-origin: 50% 18px;
    z-index: 5;
    animation: ring-28 2.5s ease-in-out infinite;
    animation-play-state: paused;
  }

  .alarm {
    width: 250px;
    stroke-dasharray: 12.5 25 25 26;
    transform: translate(-50%, -45%);
  }
  .ring {
    opacity: 0;
    transform-origin: center;
    animation: alarm 2.5s ease-out infinite;
    animation-play-state: paused;
  }

  .ring-1 {
    animation-delay: 0.5s;
  }
  .ring-2 {
    animation-delay: 1s;
  }

  @keyframes alarm {
    0% {
      opacity: 1;
    }
    50%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes ring-28 {
    0%,
    50%,
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    3%,
    9%,
    15%,
    21%,
    27%,
    33%,
    39%,
    45% {
      transform: translate(-50%, -50%) rotate(-10deg);
    }
    6%,
    12%,
    18%,
    24%,
    30%,
    36%,
    42%,
    48% {
      transform: translate(-50%, -50%) rotate(10deg);
    }
  }
}
