@use '../../../abstracts/mixins' as m;

.card-10 {
  .card__top {
    padding-block: 20px;
    background-color: var(--c-green);
  }

  .center {
    --width: 70%;

    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: var(--width);
    aspect-ratio: 1 / 1;
    background-color: hsl(0, 0%, 14%);
    border: 0.5em solid hsl(0, 0%, 23%);
    border-radius: 50%;
    color: #fff;
    margin-inline: auto;
  }

  .data,
  .dots,
  .dots > * {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 85%;
    aspect-ratio: 1 / 1;
  }

  .data {
    @include m.filling-element;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    font-size: 16px;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-align: center;
  }

  .top {
    text-align: center;
  }

  .time {
    margin-block: -5px;
    font-size: 40px;
    font-weight: 600;
  }

  .bottom {
    @include m.flex-container(null, center, center);
    gap: 0.25em;
  }

  .heart {
    position: relative;
    display: block;
    top: -2px;
    width: 7px;
    height: 8px;
    margin-inline-end: 7px;
    background-color: tomato;
    border-radius: 50%;
    animation: beat 1s ease-out infinite;
  }

  .heart::before,
  .heart::after {
    display: block;
    @include m.pseudo;
    background-color: tomato;
  }
  .heart::before {
    top: -5px;
    left: 0;
    height: 17px;
    width: 14px;
    clip-path: polygon(50% 100%, 90% 72%, 50% 50%, 10% 72%);
  }

  .heart::after {
    top: 0;
    right: -7px;
    width: 7px;
    height: 8px;
    border-radius: 50%;
  }

  @keyframes beat {
    0% {
      transform: scale(0.8);
    }
    50%,
    55% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.8);
    }
  }

  .beat {
    @include m.flex-container(null, null, center);

    & > * {
      display: inline-block;
    }
  }

  .dots {
    position: relative;
    @include m.center-element;
    width: 85%;
    margin-inline: auto;
    aspect-ratio: 1 / 1;
  }

  .dots > * {
    height: 100%;
    width: 5px;
  }

  .dots *::before,
  .dots *::after {
    @include m.pseudo;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
  }

  .dots *:nth-child(even)::before,
  .dots *:nth-child(even)::after {
    width: 2px;
    height: 2px;
  }

  .dots *::after {
    bottom: 0;
  }

  .dots .dots-1::before,
  .dots .dots-1::after {
    height: 5px;
    width: 5px;
    background: none;
    border: 0.5px solid #fff;
  }

  @include m.populate-dots(12);

  .second {
    position: absolute;
    @include m.filling-element;
  }

  .second circle {
    position: absolute;
    stroke: var(--c-yellow);
    stroke-dasharray: 30;
    animation: count 120s linear infinite 1s;
    transform-origin: center;
    rotate: -90deg;
  }

  @keyframes count {
    0% {
      stroke-dashoffset: -30;
    }
    100% {
      stroke-dashoffset: -90;
    }
  }
}
