@use '../../../abstracts/' as u;

.card-05 {
  .card__top {
    padding-block: 20px;
    background-color: var(--primary);
  }

  h3 {
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 15px;
  }

  svg {
    fill: none;
  }

  .frame--shadow {
    display: grid;
    grid-template-rows: 30% auto;
    width: 280px;
    color: #949494;
    background-color: #fff;

    p {
      font-size: 12px;
    }
  }

  .bar {
    @include u.flex-container(null, space-between, center);
    @include u.filling-element;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    background-color: hsl(37, 83%, 67%);
  }

  .rev {
    font-weight: 600;
    font-size: 15px;
  }

  .col-right {
    text-align: right;
  }

  .chart-container {
    padding: 10px;
    @include u.flex-container(column, null, null);
    gap: 10px;
    margin-block-end: 0;
  }

  .legend {
    align-self: flex-end;
  }

  .legend > * {
    display: inline-block;
  }

  .legend p {
    font-size: 10px;
  }

  .svg-legend {
    stroke: hsl(0, 93%, 72%);
    stroke-width: 2;
    stroke-linecap: round;
    overflow: visible;
  }

  .legend > p:nth-child(2) {
    padding-inline-end: 15px;
  }

  .blue {
    stroke: hsl(222, 100%, 74%);
  }

  .chart {
    position: relative;
    height: 80px;
  }
  .line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ececec;
    height: 1px;
    width: 100%;
    z-index: -1;
  }

  .line-2 {
    top: 50%;
  }

  .line-3 {
    top: 100%;
  }

  .figure {
    stroke-width: 2;
    overflow: visible;
  }

  .purchases {
    stroke: hsl(222, 100%, 74%);
  }
  .views {
    stroke: hsl(0, 93%, 72%);
  }

  .reds > *,
  .blues > * {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }

  .reds > *:hover,
  .blues > *:hover {
    cursor: pointer;
  }

  .reds > *,
  .reds .tooltip,
  .reds .tooltip::after {
    background-color: hsl(0, 93%, 72%);
  }

  .blues > *,
  .blues .tooltip,
  .blues .tooltip::after {
    background-color: hsl(222, 100%, 74%);
  }

  .reds .c-1 {
    left: 8px;
    bottom: 35px;
  }

  .reds .c-2 {
    left: 48px;
    bottom: 62px;
  }
  .reds .c-3 {
    left: 88px;
    bottom: 57px;
  }
  .reds .c-4 {
    left: 128px;
    bottom: 67px;
  }
  .reds .c-5 {
    left: 168px;
    bottom: 38px;
  }
  .reds .c-6 {
    left: 208px;
    bottom: 30px;
  }
  .reds .c-7 {
    left: 248px;
    bottom: 59px;
  }

  .blues .c-1 {
    left: 8px;
    bottom: 19px;
  }
  .blues .c-2 {
    left: 48px;
    bottom: 30px;
  }
  .blues .c-3 {
    left: 88px;
    bottom: 15px;
  }
  .blues .c-4 {
    left: 128px;
    bottom: 26px;
  }
  .blues .c-5 {
    left: 168px;
    bottom: 17px;
  }
  .blues .c-6 {
    left: 208px;
    bottom: 4px;
  }
  .blues .c-7 {
    left: 248px;
    bottom: 13px;
  }

  .tooltip {
    position: absolute;
    top: -25px;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    color: white;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  .tooltip::after {
    display: block;
    content: '';
    width: 10px;
    height: 5px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0, 50% 100%, 100% 0);
  }

  .blues div[class^='c-']:hover .tooltip,
  .reds div[class^='c-']:hover .tooltip {
    opacity: 1;
    top: -32px;
  }

  .days {
    @include u.flex-container(null, space-between, null);
  }

  .days span {
    font-size: 10px;
    text-transform: uppercase;
    color: #949494;
  }
}
