.card-37 {
  &:is(:hover, .animate, :focus-visible) {
    .card-1,
    .card-2,
    .card-3 {
      animation-play-state: running;
    }
  }
  .card__top {
    background: linear-gradient(
      to top right,
      var(--c-green),
      var(--c-orange) 200%
    );
  }

  .wrapper {
    position: relative;
    width: clamp(240px, 330px, 80%);
    height: 200px;
    perspective: 160px;
    transform-style: preserve-3d;
  }

  .card {
    position: absolute;
    display: grid;
    grid-template-rows: 30px auto;
    width: 130px;
    height: 130px;
    border-radius: 4px;
    background-color: #fff;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  }

  .bar {
    border-radius: 4px 4px 0 0;
    background: rgb(246, 185, 28);
  }

  .content {
    display: grid;
    align-content: center;
    gap: 8px;
    height: 100%;
    width: 100%;
    padding: 15px;
  }

  .card__top span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #e2e2e2;
  }

  span:first-child,
  span:nth-child(4) {
    width: 80px;
  }
  span:nth-child(3) {
    width: 90px;
  }
  span:last-child {
    width: 40px;
  }

  .card-1 {
    transform: translate3d(-150px, 0, -160px);
    animation: card-1 4s ease-out infinite;
    animation-play-state: paused;
  }

  .card-2 {
    transform: translate3d(0px, 0, 0px);
    animation: card-2 4s ease-out infinite;
    animation-play-state: paused;
  }

  .card-3 {
    transform: translate3d(150px, 0, -160px);
    animation: card-3 4s ease-out infinite;
    animation-play-state: paused;
  }

  @keyframes card-1 {
    33.333% {
      transform: translate3d(0, 0, 0px);
    }
    66.666% {
      transform: translate3d(150px, 0, -160px);
    }
    0%,
    100% {
      transform: translate3d(-150px, 0, -160px);
    }
  }

  @keyframes card-2 {
    33.333% {
      transform: translate3d(150px, 0, -160px);
    }
    66.666% {
      transform: translate3d(-150px, 0, -160px);
    }
    0%,
    100% {
      transform: translate3d(0, 0, 0px);
    }
  }

  @keyframes card-3 {
    33.333% {
      transform: translate3d(-150px, 0, -160px);
    }
    66.666% {
      transform: translate3d(0, 0, 0px);
    }
    0%,
    100% {
      transform: translate3d(150px, 0, -160px);
    }
  }
}
