@use '../../../abstracts/' as u;

article.card-20 {
  $bg: hsl(190, 25%, 20%);

  .card__top {
    @include u.flex-container(column, center, center);
    @include u.outline-theme($bg);
  }

  &.animate {
    .circle {
      animation: shrink 1s ease-in-out forwards;
    }
    .circle-ring {
      animation: shrink 1s ease-in-out forwards 0.2s;
    }
    .envelope {
      animation: send 0.7s linear forwards;
    }
    .plane {
      animation: fold 0.8s linear forwards 0.8s, fly 1.2s ease-in forwards 1.4s;
    }
    .send-btn {
      animation: btn-disappear 3s ease-in-out forwards 2.8s;
    }
    .reset-btn {
      animation: fade 3s linear forwards 2.8s;
    }
  }

  .circle,
  .circle-ring {
    @include u.center-element;
  }
  .center > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .center {
    position: relative;
    margin-block-end: 20px;
    height: 140px;
    width: 140px;
  }

  .circle,
  .circle-ring {
    @include u.filling-element;
    border-radius: 50%;
  }

  .circle {
    background-color: hsl(190, 25%, 25%);
  }

  .circle-ring {
    border: 5px solid hsl(190, 25%, 25%);
  }

  @keyframes shrink {
    15% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0);
    }
  }

  .envelope,
  .plane {
    stroke: hsl(0, 0%, 85%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    transform: translate(-50%, -25px);
  }

  .envelope {
    width: 90px;
    height: 45px;
    stroke-linejoin: round;
    stroke-dasharray: 250;
    stroke-dashoffset: 0;
  }

  .plane {
    width: 90px;
    height: 99px;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
  }

  .send-btn {
    position: relative;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: hsl(190, 25%, 20%);
    background-color: hsl(0, 0%, 85%);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  }

  .send-btn:is(:hover, :focus-visible) {
    background-color: hsl(170, 85%, 40%);
    color: #fff;
  }

  @keyframes send {
    100% {
      stroke-dashoffset: 280;
    }
  }
  @keyframes fold {
    100% {
      stroke-dashoffset: 0;
      stroke: hsl(59, 75%, 70%);
    }
  }
  @keyframes fly {
    0% {
      transform: translate(-50%, -25px);
    }
    20% {
      transform: translate(-60%, -17px);
    }
    50% {
      opacity: 1;
    }
    90%,
    100% {
      opacity: 0;
      transform: translate(80%, -126px) scale(0.5);
    }
  }

  @keyframes btn-disappear {
    15%,
    20% {
      background-color: hsl(170, 85%, 40%);
      width: 200px;
    }
    30%,
    37% {
      width: 45px;
      transform: scale(1);
    }
    40% {
      transform: scale(1.1);
      opacity: 1;
      background-color: hsl(170, 85%, 40%);
    }
    55% {
      width: 45px;
      transform: scale(0);
      opacity: 0;
    }

    80% {
      width: 200px;
      transform: scale(1);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade {
    15%,
    20% {
      opacity: 0;
    }

    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
