@use '../../../abstracts/mixins' as m;

.card-39 {
  .card__top {
    $bg: hsl(221, 19%, 33%);

    @include m.outline-theme($bg);
  }
  .center {
    position: relative;
    width: clamp(260px, 70%, 280px);
    height: 40px;
  }
  .menu-button {
    position: absolute;
    width: 60px;
    height: 45px;
    padding: 16px;

    cursor: pointer;
    background: none;
  }

  .menu-button:is(:hover, :focus-visible) {
    background: none;
  }

  .menu-button.open {
    animation: open 1s ease-out forwards;
    cursor: auto;
  }

  .menu-button.close {
    animation: close 1s ease-out forwards;
  }

  .menu-button::before,
  .menu-button::after {
    display: block;
    @include m.pseudo;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transform-origin: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-button.open::before,
  .menu-button.open::after {
    animation: thinner 1s ease-out forwards;
  }
  .menu-button.close::before,
  .menu-button.close::after {
    animation: thicker 1s ease-out forwards;
  }
  .menu-button::before {
    top: 0;
  }

  .menu-button::after {
    bottom: 0;
  }

  .nav39 {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
  }

  .menu-button.open ~ .nav39 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.7s;
    pointer-events: all;
  }
  .menu__list {
    height: 100%;
    max-width: 100%;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    @include m.flex-container(null, space-around, center);
  }

  .menu__item a {
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }

  .menu__item:is(:hover, :focus-visible) a {
    color: hsla(0, 100%, 100%, 0.6);
  }

  @keyframes open {
    20% {
      width: 60px;
      height: 20px;
    }
    40%,
    50% {
      width: 60px;
      height: 80px;
    }
    100% {
      width: 100%;
      height: 80px;
    }
  }

  @keyframes close {
    0% {
      width: 100%;
      height: 80px;
    }
    50%,
    60% {
      width: 60px;
      height: 80px;
    }
    80% {
      width: 60px;
      height: 20px;
    }
    100% {
      width: 60px;
      height: 45px;
    }
  }
  @keyframes thinner {
    0%,
    20% {
      height: 4px;
    }
    40%,
    100% {
      height: 2px;
    }
  }
  @keyframes thicker {
    0%,
    60% {
      height: 2px;
    }
    80%,
    100% {
      height: 4px;
    }
  }
}
