@use '../../../abstracts/' as u;
.card-17:is(:focus-visible, .animate) .center,
.card-17 .center:is(:hover, .animate) {
  transform: rotate(90deg);
  border-radius: 50%;

  svg {
    transform: rotate(-90deg);
  }
  .light {
    fill: hsl(from var(--saturated) h s 25%);
  }
  .middle {
    fill: hsl(from var(--saturated) h s 75%);
  }
  .dark {
    fill: var(--saturated);
  }
}

.gallery__card:is(:hover, :focus-visible) .card-17 .center {
  transform: rotate(90deg);
  border-radius: 50%;

  svg {
    transform: rotate(-90deg);
  }
  .light {
    fill: hsl(from var(--saturated) h s 25%);
  }
  .middle {
    fill: hsl(from var(--saturated) h s 75%);
  }
  .dark {
    fill: var(--saturated);
  }
}

.card-17 {
  .card__top {
    background-image: repeating-linear-gradient(
      45deg,
      rgb(255, 248, 248) 0 10%,
      hsl(120, 0%, 14%) 10% 11%
    );
  }
  .center {
    @include u.center-element;
    position: relative;
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: hsl(0, 0%, 22%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
  }

  .penrose * {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 70%;
    transition: transform 0.3s ease-in, fill 0.3s ease-in;
  }

  .light {
    fill: hsl(from var(--accent) h s 75%);
  }
  .middle {
    fill: var(--accent);
  }
  .dark {
    fill: hsl(from var(--accent) h s 25%);
  }
}
