@use '../abstracts/mixins' as m;

$bg: hsl(45, 100%, 96%);

/* Reset */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: clip;
  width: 100%;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;

  font-size: 100%;
}

// Disable animation before loading
.preload *,
.preload *::before,
.preload *::after {
  animation-duration: 0 !important;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--text);

  @include m.outline-theme($bg);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  min-width: 375px;
}

header,
.nav,
section:not(.hero) {
  width: 100%;
}

main *:target {
  scroll-margin-block-start: 3rem;
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;

  &:not(.nav) {
    padding-inline: 1rem;
  }
}

:is(.about-me, .skills, .portfolio) > .wrapper {
  padding-block-end: 9vmax;
}

.about-me__container,
:is(.about-me, .skills, .portfolio, .contact) > .wrapper {
  & > * + * {
    margin-block-start: clamp(52px, 5.5vmax, 70px);
    margin-inline: auto;
  }
}

svg.icon {
  width: 34px;
  height: 34px;
}

/* Typography */

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: var(--accent-font);
  font-weight: 700;
  text-wrap: balance;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  font-size: clamp(2.5rem, 10vw, 96px);
}

.section__header {
  position: relative;
  margin-block-start: 3em;
  text-align: left;

  h2 {
    position: relative;
    display: inline-block;
    line-height: 1;

    font-size: clamp(2.325rem, 8vw, 64px);

    &::after {
      @include m.highlight;
    }
  }
}

h3 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

p,
.about-me__text,
.skills__text,
.contact__metadata {
  max-width: 55ch;
  overflow-wrap: break-word;
  text-wrap: pretty;

  font-size: clamp(1rem, 4vw, 1.5rem);
}

ul,
ol {
  padding-inline-start: 0;
  list-style: none;
}

li {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--accent);
  color: var(--background);
}

footer ::selection {
  background-color: var(--secondary);
}

/* Outline A11Y */

*:focus-visible {
  outline: 3px dashed;
  outline-offset: 3px;
}

/* Skip to main content button */

.screen-reader-text {
  position: absolute;
  padding: 1em;
  color: var(--background);
  background-color: var(--text);
  font-size: 1.5rem;
  transform: translate(-9999px, 0);
  z-index: 100;

  &:focus-visible {
    transform: translate(6px, 6px);
    opacity: 1;
  }
}

/* Scrolling */

.stt {
  position: fixed;
  bottom: 2.5em;
  right: 5%;
  z-index: 10;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
