@use '../abstracts/mixins' as m;

$bg: hsl(45, 100%, 96%);

/* Reset */
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: clip;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;

  font-size: clamp(1rem, 0.97vw + 0.773rem, 1.5rem);
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--c-black);

  @include m.outline-theme(var(--c-white));
}

// Disable animation before loading
.preload *,
.preload *::before,
.preload *::after {
  animation-duration: 0 !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  min-width: 375px;
}

header,
.nav,
section:not(.hero) {
  width: 100%;
}

main *:target {
  scroll-margin-block-start: 3rem;
}

.wrapper {
  margin-inline: auto;

  &:not(.nav) {
    width: min(1000px, calc(100% - 2rem));
  }
}

:is(.about-me, .skills) > .wrapper {
  padding-block-end: clamp(50px, 5.5vw, 90px);
}

.about-me__container,
:is(.about-me, .skills, .contact) > .wrapper {
  & > * + * {
    margin-block-start: clamp(50px, 2vw, 70px);
    margin-inline: auto;
  }
}

.portfolio {
  padding-block-end: clamp(70px, 5.5vw, 80px);

  .wrapper > * + * {
    margin-block-start: clamp(70px, 5.5vw, 80px);

    margin-inline: auto;
  }
}

svg.icon {
  width: 34px;
  height: 34px;
}

/* Typography */

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
.btn {
  font-family: var(--accent-font);
  font-weight: 700;
  text-wrap: balance;
}

h1 {
  font-weight: 400;
  line-height: 1.3;
  font-size: clamp(2.5rem, 6.788vw + 0.909rem, 96px);
}

.section__header {
  position: relative;
  padding-block-start: 3em;
  text-align: left;

  h2 {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: clamp(2.25rem, 3.394vw + 1.455rem, 4rem);

    &::after {
      @include m.highlight;
    }
  }
}

h3,
.btn {
  font-size: clamp(1.5rem, 0.97vw + 1.273rem, 2rem);
}

p,
.about-me__text,
.skills__text,
.contact__metadata {
  max-width: 55ch;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--c-orange);
  color: var(--c-white);
}

footer ::selection {
  background-color: var(--c-yellow);
}

/* Outline A11Y */

*:focus-visible {
  outline: 3px dashed;
  outline-offset: 3px;
}

/* Skip to main content button */

.screen-reader-text {
  position: absolute;
  padding: 1em;
  color: var(--c-white);
  background-color: var(--c-black);
  font-size: 1.5rem;
  transform: translate(-9999px, 0);
  z-index: 100;

  &:focus-visible {
    transform: translate(6px, 6px);
    opacity: 1;
  }
}

/* Scrolling */

.stt {
  position: fixed;
  bottom: 2.5em;
  right: 5%;
  z-index: 10;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
