@use 'mixins' as u;

header,
main,
section,
.animated-elements,
footer {
  container-type: inline-size;
}

header {
  container-name: header;
}

main {
  container-name: main;
}
footer {
  container-name: footer;
}

// ======================
/* Header & Navigation */
// ======================

// @container header (min-width: calc(680px - 2rem)) {
@container header (min-width: 680px) {
  body {
    .menu-btn {
      display: none;
    }

    nav {
      display: flex;
      justify-content: flex-start;

      .navbar {
        padding-inline-end: 1em;
        margin-inline: 0;
      }
    }

    nav ul.menu {
      position: initial;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 0;
      padding-inline: var(--padding-outline);
      padding-block-end: calc(var(--padding-outline) + 0.25rem);
      margin-inline-end: 1em;
      width: fit-content;
      height: auto;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      animation: none;
      align-items: flex-end;
      justify-content: start;

      & .menu__item {
        display: flex;
        margin-block-start: 0.25em;
      }

      & .menu__link {
        text-wrap: nowrap;
        position: relative;
        padding: 0.5em;
        padding-block-end: 4px;

        &::after {
          @include u.pseudo;
          left: 0;
          bottom: 0;
          height: 0;
          width: 100%;
          background-color: var(--accent);
          transition: height 0.3s ease-in-out;
        }

        &:active,
        &:hover {
          background-color: transparent;

          &::after {
            height: 5px;
          }
        }
      }
    }

    .color-palette {
      margin-inline-start: auto;
      // gap: 0.5em;
    }

    .hero {
      &.wrapper:where(:has(.hero__text)) {
        gap: 3em;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    .hero {
      &__text {
        margin-block-start: 3em;
        max-width: 540px;

        h1 {
          max-width: unset;
          line-height: 1.2;
        }
      }

      &__img {
        top: 0;

        .outline {
          top: unset;
          bottom: 0;
          right: -5%;
          height: 105%;
          width: 110%;

          path {
            transform-origin: 45% 100%;
          }
        }
      }

      .lines {
        display: none;
      }
    }
  }
}

// @container header (min-width: calc(1000px - 2rem)) {
@container header (min-width: 1000px) {
  body {
    nav {
      min-width: fit-content;
      padding-inline: 1rem;

      .color-palette {
        margin-block-end: -1em;
      }

      .logo {
        width: 70px;
        padding-inline-start: 0;
      }

      .navbar {
        padding-inline-start: 0;
      }

      .color-palette {
        display: flex;
      }
    }

    .hero {
      &:where(:has(.btn)) {
        padding-block-end: 7vmax;
      }

      &__img {
        right: 0;
      }

      .btn {
        display: grid;
        margin-block-start: 100px;
        margin-inline-start: auto;
      }
    }
  }
}

// ======================
/* Main */
// ======================

@container main (min-width: 680px) {
  body {
    /* === Code Section === */
    .about-me .widget {
      margin-block-start: 0;
    }

    .section.code .wrapper p {
      margin-inline: unset;
    }
    .code {
      .circle {
        top: -5%;
        right: -35%;
      }
      &__container {
        grid-template-columns: 50% 50%;
        align-items: center;

        .window {
          margin-block-start: 0;

          code {
            font-size: clamp(1rem, 2vw, 1.5rem);
          }
        }
      }

      .spark-1 {
        right: -15%;
      }
    }

    .animated-elements {
      .sun {
        top: 5%;
      }
      .cat {
        transform: scale(1.5) translateY(-3%);
      }
    }
  }
}

@container main (min-width: 850px) {
  body {
    .portfolio-gallery__card {
      .data {
        scale: 1;
      }

      &:first-child {
        top: 43px;
        rotate: -20deg;
      }

      &:nth-child(2) {
        top: 10px;
        rotate: -10deg;
      }

      &:nth-child(4) {
        top: 10px;
        rotate: 10deg;
      }

      &:nth-child(5) {
        top: 43px;
        rotate: 20deg;
      }
    }
  }
}

@container main (min-width: 1000px) {
  body {
    /* === About Me Section === */

    .about-me {
      h3 {
        height: initial;
        width: initial;
        overflow: initial;

        & > *:not(:last-child) {
          transform: translateY(30px);
          opacity: 0;
        }

        span[lang='pl'] {
          rotate: -10deg;
          color: hsl(from var(--text) h s l / 0.6);
        }

        span[lang='fr-FR'] {
          rotate: 10deg;
        }

        span[lang='ja-Hira'] {
          position: absolute;
          right: 0;
          top: 4em;
          font-family: 'MS Gothic', Helvetica, sans-serif;
          font-size: 2.25rem;
          letter-spacing: 20%;
          word-break: keep-all;
          height: 0;
          writing-mode: vertical-rl;
          overflow: hidden;
        }
      }

      &.animate {
        h3 {
          span:not(:last-child) {
            animation: pop-up 0.4s ease-out forwards;
          }

          @include u.random-delay(span, 0.75s, 1, 3);
        }

        span[lang='ja-Hira'] {
          animation: unroll 2s ease-out 2s forwards;
        }

        @keyframes pop-up {
          to {
            transform: translate(0px, 0px);
            opacity: 1;
          }
        }

        @keyframes unroll {
          to {
            height: 800px;
          }
        }
      }
    }

    // About Me Layout

    .about-me {
      & > .wrapper {
        padding-block-end: 9em;
      }

      div.about-me__container {
        margin-block-start: 0;
        width: 87%;
        aspect-ratio: 2 / 1;
        // padding-block-start: 3rem;

        display: grid;
        align-items: center;
        grid-template-columns: 1fr 54%;
      }

      &__frame {
        grid-row: 1/2;
        grid-column: 1/3;

        display: block;
        height: 100%;
        width: 100%;
        stroke-width: 1;
        stroke-dasharray: 0 1;
      }

      &__text {
        grid-row: 1/2;
        grid-column: 2/3;

        max-width: 100%;
        margin-inline: auto;
        padding: 1em;
        font-size: clamp(1rem, 4vw, 1.5rem);

        p {
          min-width: 100%;
        }
      }

      .btn {
        display: none;
      }
    }

    .about-me .widget {
      grid-row: 1/2;
      grid-column: 1/2;

      margin-inline-start: -3em;

      &__avatar {
        max-width: unset;
      }

      &__text {
        display: none;
      }
    }

    /* === Portfolio Section === */

    .portfolio {
      &::after {
        background: none;
        mask-image: none;
      }

      .wrapper::after {
        position: absolute;
        content: '';
        inset: 0;
        height: 100%;
        width: clamp(995px, 90%, 1100px);
        margin-inline: auto;
        background: url('../../src/assets/svg/dots-path-background.svg')
          no-repeat 50% 20px;
        z-index: -1;
      }
    }

    /* === Contact Section === */

    .contact {
      .wrapper {
        padding-block-end: 0px;
      }

      & > .wrapper:first-child {
        height: 85vh;
        display: flex;
        align-items: flex-start;

        .window {
          margin: 0;
          // transform: translateY(70%);
          align-self: center;
        }

        .sun {
          top: 5%;
        }
      }
    }
    .animated-elements {
      height: auto;

      .cat-wrapper {
        left: 0;
      }
      .cat {
        transform: scale(2) translateY(-3%);
      }
    }
  }
}

@container main (min-width: 1700px) {
  body {
    .contact .sun {
      left: calc(55vw - 10%);
    }
  }
}

// ======================
/* CSS Challenge Gallery */
// ======================

@container header (min-width: 1000px) {
  body .hero__gallery {
    margin: 150px auto 80px auto;
  }
}

@container main (min-width: 1000px) {
  body .gallery {
    margin-block-end: 300px;
  }
}
