@use 'mixins' as m;
@use 'functions' as f;

$bg: hsl(45, 100%, 96%);

/* Reset */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // min-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  font-size: 100%;
}

body {
  overflow-x: clip;
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--text);
  background-color: var(--background);

  @include m.outline-theme($bg);
}

html,
body {
  overflow-x: clip;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  min-width: 375px;
}

header,
nav,
section:not(.hero) {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;

  &:not(nav) {
    padding-inline: 1rem;
  }
}

:is(.about-me, .code, .portfolio) > .wrapper {
  padding-block-end: 7vmax;
}

.about-me__container,
:is(.about-me, .code, .portfolio, .contact) > .wrapper {
  & > * + * {
    margin-block-start: clamp(52px, 5.5vmax, 70px);
    margin-inline: auto;
  }
}

svg.icon {
  width: 34px;
  height: 34px;
}

/* Typography */

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: var(--accent-font);
  font-weight: 700;
  text-wrap: balance;
}

h1 {
  font-weight: 400;
  line-height: 1.35;
  font-size: clamp(2.5rem, 10vw, 96px);
}

.section__header {
  position: relative;
  margin-block-start: 3em;
  text-align: left;

  h2 {
    position: relative;
    display: inline-block;
    line-height: 1;

    font-size: clamp(2.325rem, 8vw, 64px);

    &::after {
      @include m.highlight;
    }
  }
}

h3 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

p,
.contact__metadata {
  max-width: 65ch;
  overflow-wrap: break-word;
  text-wrap: pretty;

  font-size: clamp(1rem, 4vw, 1.5rem);
}

ul,
ol {
  padding-inline-start: 0;
  list-style: none;
}

li {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--accent);
  color: var(--background);
}

footer ::selection {
  background-color: var(--secondary);
}

/* Outline A11Y */

*:focus-visible {
  outline: 3px dashed;
  outline-offset: 3px;
}

// Buttons

button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  display: grid;
  width: fit-content;
  font-size: clamp(1.5rem, 5vw, 2rem);

  & > * {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
  }

  &__shadow {
    background-color: var(--text);
  }

  &__fill {
    background: var(--primary);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  &--border {
    & > * {
      border: var(--border);
      border-radius: 0.75em;
    }

    .btn__fill {
      padding: 0.25em 0.75em;
    }
  }

  &--round {
    --btn-round-size: clamp(55px, 8vw, 70px);
    width: var(--btn-round-size);
    height: var(--btn-round-size);
    border: 0;

    & > * {
      border-radius: 50%;
      border: var(--border);
    }

    .btn__fill {
      @include m.flex-center-vertical;
      padding: 8px;
    }

    svg {
      aspect-ratio: 1 / 1;
      fill: var(--text);
    }
  }

  &:is(:hover, .animate, :focus-visible) {
    .btn__fill {
      background-color: var(--background);
      transform: translate(-5px, -5px);
    }

    &.btn--border .btn__fill {
      transform: translate(-0.25em, -0.25em);
    }
  }
}

/* Skip to main content button */

.screen-reader-text {
  position: absolute;
  left: -9999px;
  padding: 1em;
  color: var(--background);
  background-color: var(--text);
  // opacity: 0;
  font-size: 1.5rem;
  z-index: 100;

  &:focus-visible {
    left: 6px;
    top: 6px;
    opacity: 1;
  }
}

/* Scrolling */

.stt {
  position: fixed;
  bottom: 2.5em;
  right: 5%;
  z-index: 10;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

// PREVENT SCROLLING
// .stop-scrolling {
// height: 100%;
// overflow: hidden;
// }

/* Cat Element */

.animated-elements {
  --cat-size: clamp(200px, 30vw, 400px);
  pointer-events: none;

  .cat-wrapper {
    position: absolute;
    overflow-y: hidden;
    width: clamp(var(--cat-size), 50vw, 400px);
    height: calc(var(--cat-size) + 100px);
    bottom: -77px; // height of the footer
    right: 60vw;
    z-index: 2;

    pointer-events: none;
    user-select: none;
  }

  .cat {
    --pivot: 0% 63%;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform-origin: var(--pivot);
    transform: scale(1) translateY(-5%);
  }
}

// spotlight

.spotlight {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;

  &--outer {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    background-color: hsla(from var(--accent) h s l / 0.4);
    mix-blend-mode: multiply;
  }
}

/* Cat Element */

.animated-elements {
  --cat-size: clamp(200px, 30vw, 400px);

  position: relative;
  height: var(--cat-size);
  margin-inline: auto;

  .cat-wrapper {
    position: absolute;
    overflow-y: hidden;
    width: clamp(var(--cat-size), 50vw, 400px);
    height: calc(var(--cat-size) + 100px);
    bottom: -77px; // height of the footer
    right: 60vw;
    z-index: 2;

    pointer-events: none;
    user-select: none;
  }

  .cat {
    --pivot: 0% 63%;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform-origin: var(--pivot);
    transform: scale(1) translateY(-5%);
  }
}

// spotlight

.spotlight {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;

  &--outer {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    background-color: hsla(from var(--accent) h s l / 0.4);
    mix-blend-mode: multiply;
  }
}
