@use 'mixins' as m;
@use 'functions' as f;

$bg: hsl(45, 100%, 96%);

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--text);

  @include m.outline-theme($bg);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  overflow-x: clip; /* Prevents layout shifts */
  height: 100%;
}

header,
section:not(.hero) {
  width: 100vw;
  padding-inline: 1rem;
  // margin-inline: auto;
}

header,
main,
.wrapper,
.footer__wrapper {
  margin-inline: auto;
}

section > .wrapper {
  max-width: 1200px;
}

.about-me,
.code,
.portfolio {
  & > .wrapper {
    padding-block-end: 3rem;
  }
  // max-height: 100vh;
  // height: 100vh;
}

.about-me,
.code,
.portfolio,
.contact {
  & > .wrapper > * + * {
    margin-block-start: 2rem;
    margin-inline: auto;
  }
}

img {
  display: block;
  max-width: 100%;
}

svg.icon {
  width: 34px;
  height: 34px;
}

ol,
ul {
  list-style: '';
}

a {
  color: var(--text);
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: var(--accent-font);
  font-weight: 700;
  text-wrap: balance;
}

h1 {
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 2%;
}

.section__header {
  margin-block-start: 2rem;

  position: relative;
  text-align: left;
  // padding-block-start: 2rem;
  h2 {
    position: relative;
    display: inline-block;
    font-size: 2.325rem;
    // z-index: 1;

    &::after {
      @include m.highlight;
    }
  }
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

p {
  text-wrap: pretty;
  max-width: 65ch;
}

p {
  max-width: 65ch;
  overflow-wrap: break-word;
  hyphens: auto;
}

// BUTTONS

button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  display: grid;
  width: fit-content;
  font-size: 1.5rem;
  border-radius: 20px;

  & > * {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
  }

  &__shadow {
    background-color: var(--text);
  }

  &__fill {
    background: var(--primary);
    transition: transform 0.3s ease-in-out;
  }

  &--border {
    & > * {
      border: var(--border);
      border-radius: 20px;
    }

    .btn__fill {
      padding: 0.25em 1em;
    }
  }

  &--round {
    width: 55px;
    height: 55px;
    border: 0;

    & > * {
      border-radius: 50%;
      border: var(--border);
    }

    .btn__fill {
      @include m.flex-center-vertical;
    }

    svg {
      width: 35px;
      height: 35px;
      fill: var(--text);
    }
  }

  &:hover,
  &.animate,
  &:focus-visible {
    .btn__fill {
      transform: translate(-5px, -5px);
    }
  }
}

// SKIP TO MAIN CONTENT BUTTON

.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  color: var(--background);
  background-color: var(--accent);
  opacity: 0;
  font-size: 1.5rem;

  &:focus-visible {
    left: 6px;
    top: 6px;
    opacity: 1;
  }
}

// OUTLINE

*:focus-visible {
  outline: 3px dashed;
  outline-offset: 3px;
}

// SCROLL TO TOP

.stt {
  position: fixed;
  bottom: 3.5rem;
  right: 2.1875rem;
  z-index: 10;
}

// PREVENT SCROLLING

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
