:root {
  --text: hsl(44, 58%, 6%);
  --background: hsl(45, 100%, 96%);
  --primary: hsl(79, 36%, 84%);
  --secondary: hsl(38, 100%, 60%);
  --accent: hsl(20, 73%, 58%);

  --shadow: 0 -13px 22px hsl(from var(--text) h s l / 0.11);
}
