@use '../util' as u;
@use '../components';

/* HERO */

.hero {
  min-width: 375px;

  & > .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-inline: auto;
    max-width: 600px;
  }

  &__text {
    max-width: 520px;
    align-self: start;
    // width: clamp(19ch, 8vw, 520px);

    word-wrap: balance;

    p {
      display: inline-block;
      font-size: clamp(1.25rem, 3vw, 2rem);
      letter-spacing: 1%;
    }

    h1 {
      width: clamp(9ch, 8vw, 520px);

      font-size: clamp(2.5rem, 8vw, 5.95rem);
    }

    h1 > span {
      color: var(--accent);
    }

    .btn {
      display: none;
    }
  }

  &__img {
    align-self: center;
    position: relative;
    top: -8rem;
    min-width: 384px;
    height: auto;

    img {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .outline {
      position: absolute;
      top: -10%;
      right: -12%;
      width: 125%;
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7)
      );

      path {
        transform-origin: 65% 70%;
      }

      @include u.random-duration(path, 5, outline-rotate);

      @keyframes outline-rotate {
        to {
          transform: rotate(-3deg);
        }
      }
    }
  }

  .lines {
    margin-block-start: -6rem;
    transform: translateX(-2rem);
  }
  .lines-svg {
    width: calc(100% + 4rem);
  }
}

// ABOUT ME

.about-me {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--background) 10%,
    var(--primary) 100%
  );

  h2,
  h3,
  &__frame {
    display: none;
  }

  &__text {
    max-width: 65ch;

    p:first-child {
      margin-block-end: 1rem;
    }
  }
}

// WIDGET

.widget {
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 450px;
  min-width: 343px;
  // aspect-ratio: 1 / 1;
  margin-inline: auto;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__text {
    overflow: hidden;
    font-family: 'Playfair Display';

    & > text {
      position: relative;
      opacity: 0;
      animation: pop-up 0.4s ease-out 1s forwards;
    }

    @include u.random-delay(text, 0.5s, 2, 5);

    & > text:nth-child(2) {
      transform: translate(5px, 5px);
    }
    & > text:nth-child(3) {
      transform: translate(2px, 5px);
    }
    & > text:nth-child(4) {
      transform: translate(-5px, 5px);
    }
    & > text:nth-child(5) {
      transform: translate(0px, 5px);
    }

    @keyframes pop-up {
      to {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }

  &__avatar {
    @include u.center;
    min-width: 250px;
    max-width: 70%;

    aspect-ratio: 1 / 1;
    margin-inline: auto;
    background-color: var(--accent);
    transform-origin: center;
    animation: spin 90s linear infinite;
    mask-image: url('../../src/assets/svg/star.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  &__img {
    align-self: end;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-inline: auto;
    transform-origin: center;

    animation: spin 90s linear reverse infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

// CODE

.code {
  box-shadow: var(--shadow);

  & > .wrapper {
    position: relative;
  }

  .circle {
    position: absolute;
    height: 85vh;
    width: 85vh;
    transform: translate(-21rem, 3rem);
    border-radius: 50%;
    z-index: -1;
    background-color: hsl(from var(--secondary) h s l / 0.19);
  }

  h2 {
    margin-block-end: -1rem;
  }

  &__list {
    @include u.list-tab(7);

    &__item {
      // display: inline-block;
      width: fit-content;
      padding: 0.185rem 1rem;
      border-radius: 21px;
      font-weight: 700;
      background-color: hsl(from var(--secondary) h s l / 0.58);
      text-wrap: nowrap;
    }
  }

  .spark {
    position: absolute;
    width: 75px;
  }

  .spark-1 {
    top: 4rem;
    right: 2rem;
  }

  .spark-2 {
    top: 22rem;
    left: 1rem;
  }

  .window {
    @include u.window(var(--background));
    aspect-ratio: 4 / 3;
    z-index: auto;

    &__header {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 48px;
      padding-inline-start: 1rem;
      border-block-end: 3px solid var(--text);
      border-radius: 22px 22px 0 0;
      background-color: var(--primary);

      span {
        width: 25px;
        height: 25px;
        border: 1px solid var(--text);
        border-radius: 50%;
        background-color: var(--background);
      }
    }

    // &::after {
    //   @include u.box-shadow;
    // }

    code {
      position: absolute;
      font-size: 1.5rem;
      top: 5rem;
      left: 1rem;
      background-color: var(--background);
    }
  }
}

// PORTFOLIO

.portfolio {
  position: relative;
  text-align: center;
  // margin-block-start: 1rem;
  // background-color: none;

  &::after {
    @include u.pseudo;
    inset: 0;
    background-image: url('../../src/assets/svg/dots.svg');
    background-position: 70% 70%;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, transparent 25%, black 140%);
    z-index: -2;
  }

  .buttons-gallery {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

// CONTACT

.contact {
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow);
  background-color: var(--primary);

  .section__header {
    margin-block-end: 3rem;
  }

  h2 {
    position: relative;
    display: inline-block;
    width: 10ch;
    font-size: 2.8rem;
    line-height: 1;
    z-index: 1;

    &::after {
      display: none;
    }

    span {
      display: inline-block;

      &::after {
        @include u.highlight;
        bottom: 15px;
        height: 17px;
        background-image: linear-gradient(
          to left,
          var(--secondary) 10%,
          var(--accent) 100%
        );
      }
    }
  }

  // SUN

  .sun {
    position: absolute;
    width: 250px;
    height: 250px;
    fill: var(--secondary);
    transform: rotate(45deg) translate(52.5rem, 10rem);
    animation-name: sun-up;
  }

  .sun.up {
    animation: 1s linear forwards sun-up;
  }

  @keyframes sun-up {
    0% {
      transform: rotate(45deg) translate(52.5rem, 10rem);
    }

    85% {
      transform: rotate(45deg) translate(19.5rem, -3rem);
    }

    92% {
      transform: rotate(45deg) scale(0.8, 0.9) translate(13.5rem, -6.5rem);
    }
    100% {
      transform: translate(13.5rem, 5rem) rotate(90deg);
    }
  }

  .window {
    margin-block-end: 10rem;
    width: fit-content;

    @include u.window(var(--text));

    h3 {
      padding-left: 1.5rem;
      line-height: 3rem;
      color: var(--background);
    }
  }

  &__metadata {
    height: 100%;
    padding: 2em 2em 2em 1.5em;
    border-radius: 0 0 25px 25px;
    color: var(--text);
    background-color: var(--background);
    font-style: normal;

    & > a:not(a:last-child) {
      margin-block-end: 2rem;
    }

    a {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 20px;

      text-wrap: nowrap;
      text-decoration: underline;
    }

    .icon {
      width: 36px;
      height: 36px;
      border-radius: 5px;
      background-color: var(--text);
      padding: 4px 0px 4px 5px;
    }

    a:first-child .icon {
      padding-inline: 5px;
    }

    a:last-child .icon {
      padding: 2px 0px 1px 5px;
    }
  }
}
