.card-31 {
  .card__top {
    background-color: var(--primary);
  }

  &:is(:hover, .animate, :focus-visible) .ball {
    animation-play-state: running;
  }

  .wrapper {
    position: relative;
    width: 150px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .ball {
    position: relative;
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(
      circle at 60% 45%,
      #fff,
      var(--saturated) 30%,
      hsl(from var(--saturated) h s 10%) 55%
    );
    animation: spin31 1s ease-in-out infinite;
    animation-play-state: paused;
  }

  @keyframes spin31 {
    50% {
      left: 100%;
    }
  }
}
