@use 'mixins' as u;

header,
main,
section,
.animated-elements,
footer {
  container-type: inline-size;
}

header {
  container-name: header;
}

main {
  container-name: main;
}
footer {
  container-name: footer;
}

// ======================
/* Header & Navigation */
// ======================

@media screen and (min-width: 680px) {
  .menu-btn {
    display: none;
  }

  nav {
    @include u.flex-container(null, flex-start, null);

    .navbar {
      padding-inline-end: 1em;
      margin-inline: 0;
    }
  }

  nav ul.menu {
    position: initial;
    @include u.flex-container(null, flex-start, flex-end);
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    height: auto;
    padding: 0;
    padding-inline: var(--padding-outline);
    padding-block-end: calc(var(--padding-outline) + 0.25rem);
    margin-inline-end: 1em;
    border-radius: 0;
    box-shadow: none;
    animation: none;
    transform: none;

    & .menu__item {
      display: flex;
      margin-block-start: 0.25em;
    }

    & .menu__link {
      position: relative;
      padding: 0.5em;
      padding-block-end: 4px;
      text-wrap: nowrap;

      &::after {
        @include u.pseudo;
        inset: auto 0 0;
        height: 0;
        border-radius: 2px;
        background-color: var(--accent);
        transition: height 0.3s ease-in-out;
      }

      &:active,
      &:hover {
        background-color: transparent;

        &::after {
          height: 4px;
        }
      }
    }
  }

  body {
    .hero {
      &.wrapper:where(:has(.hero__text)) {
        gap: 3em;
        flex-direction: row;
      }
    }

    .hero {
      &__text {
        margin-block-start: 3em;
        max-width: 540px;

        h1 {
          max-width: unset;
          text-wrap: nowrap;
          line-height: 1.2;
          font-size: clamp(2.5rem, 8vw, 96px);
        }
      }

      &__img {
        transform: translate(0, 0);

        .outline {
          height: 109%;
          width: 110%;
          transform: translate(-4%, -7%);

          path {
            stroke-width: 1;
            transform-origin: 45% 100%;
          }
        }
      }

      .lines {
        display: none;
      }
    }

    .hero {
      &:where(:has(.btn)) {
        padding-block-end: 7vmax;
      }

      .btn {
        display: grid;
        margin-block-start: 100px;
        margin-inline-start: auto;
      }
    }
  }
}

@container header (min-width: 1000px) {
  body {
    nav {
      min-width: fit-content;
      padding-inline: 1rem;

      .logo {
        padding-inline-start: 0;

        img {
          width: 70px;
        }
      }

      .navbar {
        padding-inline-start: 0;
      }

      .color-palette {
        display: flex;
        margin: 0 0 -1em auto;
      }
    }
  }
}

// ======================
/* Main */
// ======================

@container main (min-width: 680px) {
  body {
    /* === Code Section === */
    .section.code .wrapper p {
      margin-inline: unset;
    }

    .code {
      .circle {
        transform: translate(40vw, 20%);
      }

      &__container {
        grid-template-columns: 50% 50%;
        align-items: center;

        .window {
          margin-block-start: 0;

          code {
            font-size: clamp(1rem, 2vw, 1.5rem);
          }
        }
      }
    }

    .animated-elements {
      --cat-size: 300px;

      .cat {
        transform: translate(0, 125px);
      }
    }
  }
}

@container main (min-width: 850px) {
  body {
    .portfolio .portfolio-gallery__card {
      .data {
        scale: 1;
      }

      &:first-child {
        transform: rotate(-20deg) translateY(60px);
        &:is(:hover, :focus-visible) {
          transform: rotate(-20deg) translate(-2em, -2em);
        }
      }

      &:nth-child(2) {
        transform: rotate(-10deg) translateY(15px);
        &:is(:hover, :focus-visible) {
          transform: rotate(-10deg) translate(-2em, -2em);
        }
      }
      &:nth-child(3) {
        &:is(:hover, :focus-visible) {
          transform: rotate(0deg) translate(-2em, -2em);
        }
      }

      &:nth-child(4) {
        transform: rotate(10deg) translateY(15px);
        &:is(:hover, :focus-visible) {
          transform: rotate(10deg) translate(-2em, -2em);
        }
      }

      &:nth-child(5) {
        transform: rotate(20deg) translateY(60px);
        &:is(:hover, :focus-visible) {
          transform: rotate(20deg) translate(2em, -2em);
        }
      }
    }
  }
}

@container main (min-width: 1000px) {
  body {
    /* === About Me Section === */

    .about-me {
      h3 {
        height: initial;
        width: initial;
        overflow: initial;

        & > *:not(:last-child) {
          transform: translateY(30px);
          opacity: 0;
        }

        span[lang='pl'] {
          rotate: -10deg;
          color: hsl(from var(--text) h s l / 0.6);
        }

        span[lang='fr-FR'] {
          rotate: 10deg;
        }

        span[lang='ja-Hira'] {
          position: absolute;
          height: 0;
          inset: 4em 0 auto auto;
          font-family: 'MS Gothic', Helvetica, sans-serif;
          font-size: 2.25rem;
          letter-spacing: 10px;
          word-break: keep-all;
          writing-mode: vertical-rl;
          overflow: hidden;
        }
      }

      &.animate {
        h3 {
          span:not(:last-child) {
            animation: pop-up 0.4s ease-out forwards;
          }

          @include u.random-delay(span, 0.75s, 1, 3);
        }

        span[lang='ja-Hira'] {
          animation: unroll 2s ease-out 2s forwards;
        }

        @keyframes pop-up {
          to {
            transform: translate(0px, 0px);
            opacity: 1;
          }
        }

        @keyframes unroll {
          to {
            height: 800px;
          }
        }
      }
    }

    // About Me Layout

    .about-me {
      & > .wrapper {
        padding-block-end: 10rem;
      }

      div.about-me__container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 54%;
        width: 87%;
        aspect-ratio: 2 / 1;
        margin-block-start: 0;
      }

      &__frame {
        grid-row: 1/2;
        grid-column: 1/3;

        display: block;
        @include u.filling-element;
        stroke-width: 1;
        stroke-dasharray: 0 1;
      }

      &__text {
        grid-row: 1/2;
        grid-column: 2/3;

        max-width: 100%;
        margin-inline: auto;
        padding: 1em;

        p {
          min-width: 100%;
        }
      }

      .btn {
        display: none;
      }
    }

    .about-me .widget {
      grid-row: 1/2;
      grid-column: 1/2;
      margin: 80px auto 0 -50px;

      &__avatar {
        width: 100%;
      }

      &__text {
        display: none;
      }
    }

    /* === Portfolio Section === */

    .portfolio {
      &::after {
        background: none;
        mask-image: none;
      }

      .wrapper > * + * {
        margin-block-start: clamp(52px, 5.5vmax, 70px);
      }

      .portfolio-gallery {
        padding-block-end: clamp(52px, 5.5vmax, 70px);
      }

      .wrapper::after {
        position: absolute;
        content: '';
        inset: 0;
        height: 100%;
        width: clamp(995px, 90%, 1100px);
        margin-inline: auto;
        background: url('../../assets/svg/dots-path-background.svg') no-repeat
          50% 45px;
        z-index: -1;
      }
    }

    /* === Contact Section === */

    .contact {
      .wrapper {
        padding-block-end: 0px;
      }

      & > .wrapper:first-child {
        @include u.flex-container(null, null, flex-start);
        height: 85vh;

        .window {
          margin: 0;
          align-self: center;
        }
      }
    }
    .animated-elements {
      --cat-size: 400px;
      height: auto;

      .sun {
        transform: translate(55vw, 5%);
      }

      .cat {
        transform: translate(0, 160px);
      }
    }
  }
}

@container main (min-width: 1300px) {
  body {
    .code {
      .spark-1 {
        transform: translate(34vw, -80%);
      }
    }
  }
}

@container main (min-width: 1700px) {
  body {
    .contact .sun {
      transform: translate(calc(55vw - 50%), 5%);
    }
  }
}

// ======================
/* CSS Challenge Gallery */
// ======================

@container header (min-width: 1000px) {
  body .hero__gallery {
    margin: 150px auto 80px auto;
  }
}

@container main (min-width: 1000px) {
  body .gallery {
    margin-block-end: 300px;
  }
}
