@use 'sass:list';
@use 'functions' as f;

/* === Layouts === */

@mixin flex-container($flex-direction, $justify-content, $align-items) {
  display: flex;

  @if $flex-direction != row {
    flex-direction: $flex-direction;
  }
  @if $justify-content != null {
    justify-content: $justify-content;
  }
  @if $align-items != null {
    align-items: $align-items;
  }
}

@mixin center-element {
  display: grid;
  place-items: center;
}

@mixin filling-element {
  width: 100%;
  height: 100%;
}

@mixin list-tab($col) {
  @include flex-container(column, flex-start, null);
  width: 100%;
  row-gap: 3vmin;

  // Evenly distributed list items
  @for $i from 2 through $col {
    &__item:nth-child(#{$i}) {
      margin-inline-start: calc(($i - 1) * 11%);
    }
  }
}

/* === Color-theme A11y Outline === */

@mixin outline-theme($bg) {
  background-color: $bg;

  &:focus-within,
  *:focus-visible {
    outline-color: f.outline-clr($bg);
  }
}

/* === Neo Brutalist Shadow === */

@mixin box-shadow {
  inset: 0;
  border-radius: var(--border-radius);
  background-color: var(--text);
  transform: translate(12px, 12px);

  z-index: -1;
}

/* === Neo Brutalist Window === */

@mixin window($color) {
  position: relative;
  width: clamp(305px, 80%, 570px);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: $color;
  z-index: 1;

  &::after {
    @include pseudo;
    @include box-shadow;
  }
}

/* === Pseudo Element === */

@mixin pseudo {
  position: absolute;
  content: '';
}

/* === H2 Highlight === */

@mixin highlight {
  display: block;
  @include pseudo;
  height: 35%;
  width: calc(100% + 0.5em);
  transform: translateY(-0.3em);
  background-image: linear-gradient(
    to left,
    var(--secondary) 10%,
    var(--accent) 100%
  );
  z-index: -1;
}

/* === Random Duration, Delay === */

@mixin random-duration($item, $count, $animation) {
  $a-duration: 5s;

  @for $i from 1 through $count {
    #{$item}:nth-of-type(#{$i}) {
      animation: $animation
        ($a-duration + ($i - 1) * 1.25)
        ease-in-out
        infinite
        alternate;
    }
  }
}

@mixin random-delay($item, $a-delay, $from, $to) {
  @for $i from $from through $to {
    #{$item}:nth-child(#{$i}) {
      animation-delay: calc($a-delay * ($i - 1));
    }
  }
}

/* === Project 10 === */

@mixin populate-dots($num) {
  $rotate: 15deg;
  @for $i from 2 through $num {
    .dots .dots-#{$i} {
      transform: rotate($rotate);
    }
    $rotate: $rotate + 15deg;
  }
}

/* === Color Palette === */

@mixin set-color-palette($item, $color-palette, $pseudo-element: false) {
  @for $i from 1 through list.length($color-palette) {
    @if $pseudo-element {
      #{$item}:nth-child(#{$i})::after {
        background-color: #{list.nth($color-palette, $i)};
      }
    }
    #{$item}:nth-child(#{$i}) {
      background-color: #{list.nth($color-palette, $i)};
    }
  }
}
