:root {
  // Color Palette

  --c-black: hsl(44, 58%, 6%);
  --c-white: hsl(45, 100%, 96%);
  --c-green: hsl(79, 36%, 84%);
  --c-yellow: hsl(38, 100%, 60%);
  --c-orange: hsl(20, 73%, 55%);
  --c-saturated: hsl(150, 58%, 60%);

  // Fonts

  --accent-font: 'Playfair Display', 'Times New Roman', serif;
  --main-font: 'Source Sans 3', 'Helvetica', sans-serif;
  --mono-font: 'Cutive Mono', monospace;

  // Border, Shadow, and Padding
  --border: 2px solid var(--c-black);
  --border-radius: 25px;
  --shadow: 0 -10px 10px hsl(from var(--c-black) h s l / 0.11);
  --padding-outline: 6px;
  // Icons
  --icon-size: 45px;
  --icon-border-radius: 12px;
}
