@use '../../util' as u;

.card-06 {
  .frame {
    overflow: visible;
  }

  .profile__img:is(:hover, :focus-visible) {
    cursor: pointer;
  }

  button:is(:hover, :focus-visible) {
    background-color: var(--accent);
    color: #fff;
  }

  .profile__img:is(:hover, :focus-visible),
  .profile__img:is(:hover, :focus-visible) {
    .circle-1,
    .circle-2 {
      border-color: transparent;
      transform: rotate(300deg);
    }
  }

  .profile__img:is(:hover, :focus-visible) .circle-3 {
    width: 100px;
    height: 100px;
    filter: blur(3px) saturate(1.2);
    transform: rotate(300deg);
  }

  .meta:is(:hover, :focus-visible) {
    background-color: hsl(from var(--accent) h s 85%);
  }

  .card__top {
    padding: 20px;
    background: linear-gradient(
      to right top,
      hsl(332, 58%, 46%),
      hsl(22, 100%, 62%)
    );
    text-align: center;

    span {
      display: block;
    }
  }

  img {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: 80px;
  }

  .meta {
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
  }

  button {
    display: block;
    padding: 5px;
    width: 130px;
    border: 1px solid var(--accent);
    border-radius: 20px;
    background: none;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--accent);
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
  }

  .frame--shadow {
    $bg: #fff;

    display: grid;
    width: 250px;
    min-height: 270px;
    grid-template-areas:
      'profile posts'
      'profile likes'
      'profile followers';
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 1fr 1fr;
    color: #333;

    @include u.outline-theme($bg);
  }

  .profile {
    padding-block: 10px;
    grid-area: profile;
    display: grid;
    justify-content: center;
  }

  .profile__img {
    @include u.center;
    width: 100%;
    height: 100%;
  }

  .circle-1,
  .circle-2,
  .circle-3,
  img {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    margin-inline: auto;
  }

  .circle-1,
  .circle-2,
  .circle-3 {
    border-width: 1px;
    border-style: dashed;
    border-radius: 50%;
  }

  .circle-1 {
    width: 100px;
    height: 100px;
    border-color: var(--accent) transparent var(--accent) var(--accent);
    transition: border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .circle-2 {
    width: 90px;
    height: 90px;
    border-color: var(--accent) var(--accent) var(--accent) transparent;
    transition: border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .circle-3 {
    width: 70px;
    height: 70px;
    border: none;
    background: linear-gradient(to left, hsl(332, 58%, 46%), var(--accent));
    transition: all 0.7s ease-in-out;
  }

  .name {
    font-size: 18px;
    font-weight: 600;
    color: var(--accent);
  }

  .job {
    font-size: 11px;
    font-weight: 500;
  }

  .buttons {
    display: grid;
    gap: 5px;
  }

  .meta {
    display: grid;
    align-content: center;
    background-color: hsl(22, 54%, 90%);
    border: 3px solid transparent;
    border-bottom: 1px solid #fff;
    transition: background-color 0.3s ease-in;

    &:last-child {
      border: none;
    }

    &:focus-visible {
      outline: none;
      border: 3px dashed var(--text);
    }
  }

  .meta .count {
    font-weight: 600;
    font-size: 18px;
  }

  .meta .sub {
    font-size: 11px;
  }

  .posts {
    grid-area: posts;
  }

  .likes {
    grid-area: likes;
  }

  .followers {
    grid-area: followers;
  }
}
