.card-38 {
  .card__top {
    background: var(--saturated);
    cursor: pointer;
  }

  .logo,
  .logo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 80px;
    transform: translate(-50%, -50%);

    stroke-linejoin: round;
  }

  .logo {
    stroke: white;
    fill: white;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1s ease-out;
  }

  .logo2 {
    stroke: var(--saturated);
    fill: var(--saturated);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-out;
  }

  .logo.animate {
    transform: translate(-50%, -50%) scale(20);
  }
  .logo2.animate {
    transform: translate(-50%, -50%) scale(1);
  }
}
