@use '../../util' as u;

.card-03:is(:hover, .animate, :focus-visible),
.gallery__card:is(:hover, .animate, :focus-visible) {
  .sky,
  .sun,
  .shadow,
  .pyr,
  .pyr-right {
    animation-play-state: running;
  }
}

.card-03 {
  .card__top {
    background-color: hsl(0, 0%, 15%);
  }

  .frame {
    position: absolute;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
  }

  .sky {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #7ddffc;
    animation: disappear3 4s ease-in-out infinite;
    animation-play-state: paused;
  }

  .sun,
  .sand,
  .shadow,
  .pyr,
  .pyr-right {
    position: absolute;
  }

  .sun,
  .shadow,
  .pyr {
    left: 50%;
    transform: translateX(-50%);
  }

  .sun {
    top: 2.78%;
    height: 19.44%;
    width: 19.44%;
    border-radius: 50%;
    background-color: #ffef00;
    animation: sun 4s ease-in-out infinite;
    animation-play-state: paused;
    transform-origin: 0 370%;
  }

  .sand {
    bottom: 0;
    height: 31.11%;
    width: 100%;
    background-color: #f0de75;
  }

  .shadow {
    top: 68.89%;
    width: 193.33%;
    height: 19.44%;
    background-color: #9d9252ab;
    clip-path: polygon(33.33% 0, 66.66% 0, 100% 10%);
    animation: shadow3 4s ease-in-out infinite;
    animation-play-state: paused;
  }

  .pyr {
    width: 64.44%;
    background: #f2f2f2;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    animation: pyr 4s ease-in-out infinite;
    animation-play-state: paused;
  }

  .pyr,
  .pyr-right {
    height: 31.67%;
    bottom: 30.83%;
  }

  .pyr-right {
    left: 50%;
    width: 32.22%;
    background-color: #b6b5b6;
    clip-path: polygon(25% 100%, 0 0, 100% 100%);
    animation: pyr-right 4s ease-in-out infinite;
    animation-play-state: paused;
  }

  @keyframes pyr-right {
    0% {
      background-color: #b6b5b6;
    }
    25% {
      background-color: #dedbdb;
    }
    50%,
    75%,
    100% {
      background-color: #f2f2f2;
    }
  }

  @keyframes pyr {
    0%,
    25% {
      background-color: #f2f2f2;
    }

    75% {
      background-color: #dedbdb;
    }
    100% {
      background-color: #b6b5b6;
    }
  }

  @keyframes disappear3 {
    30%,
    65% {
      opacity: 1;
    }

    0%,
    90%,
    100% {
      opacity: 0;
    }
  }

  @keyframes sun {
    0% {
      transform: rotate(-90deg);
    }
    30% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  @keyframes shadow3 {
    0% {
      clip-path: polygon(33.33% 0, 66.66% 0, 100% 0%);
    }
    30% {
      height: 19.44%;
      clip-path: polygon(33.33% 0, 66.66% 0, 90% 100%);
    }
    50% {
      height: 6.67%;
    }
    65% {
      height: 11.11%;
      clip-path: polygon(33.33% 0, 66.66% 0, 25% 100%);
    }
    90% {
      clip-path: polygon(33.33% 0, 66.66% 0, 0% 0%);
    }
  }
}
