article.card-22 {
  &:is(:hover, .animate, :focus-visible) {
    .progress-bar {
      animation-play-state: running;
    }
  }
  .card__top {
    background-color: hsl(201, 32%, 19%);
    color: hsla(0, 0%, 100%, 0.7);

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .top {
    text-transform: uppercase;
    font-size: 1rem;
    margin-block-end: 20px;
  }
  .top span {
    margin-block-start: -5px;
    display: block;
    font-weight: 600;
  }

  .top span,
  .center .data__text {
    font-size: 1.5rem;
  }

  .data__text span {
    font-size: 0.875rem;
  }
  .data__text {
    font-size: 1.125rem;
  }
  .bottom .small {
    font-size: 0.75rem;
  }
  .data__text span,
  .small {
    display: block;
    margin-block-start: -5px;
    color: hsla(0, 0%, 100%, 0.5);
  }

  .bottom,
  .center {
    display: grid;
    place-items: center;
    height: 90px;
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .bottom .data__text {
    width: 90px;
  }

  .center,
  .kilometers,
  .steps {
    position: relative;
  }

  svg {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: hsl(202, 31%, 15%);
    stroke-width: 7;
  }
  .center svg {
    width: 100px;
    height: 100px;
    stroke-width: 9;
  }

  .progress-bar {
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
    animation-play-state: paused;
  }

  .center .progress-bar {
    stroke: hsl(164, 76%, 52%);
    stroke-dasharray: 80 20;
  }

  .bottom .progress-bar {
    stroke: hsl(185, 79%, 64%);
    stroke-dasharray: 65 35;
  }

  .kilometers .progress-bar {
    stroke-dasharray: 40 60;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 10 90;
    }
  }
}
