@use '../../util' as u;
.card-19 {
  .wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    gap: 11px;
    padding: 0;
  }

  input {
    @include u.center;
    position: relative;
    width: 64px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    z-index: 2;
    left: unset;
  }

  input::before {
    margin-inline: auto;
    visibility: visible;
    content: '';
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
  }

  .ball {
    position: absolute;
    top: 8px;
    left: calc((192px / 3) - 32px);
    transform: translate(-50%, 0);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.4s ease-in-out;
    z-index: 1;
  }

  .mid:checked ~ .ball {
    left: 50%;
  }
  &:has(.mid:checked) .bg {
    left: -100%;
  }
  .right:checked ~ .ball {
    left: calc((128px + 22px) + 32px);
  }
  &:has(.right:checked) .bg {
    left: -200%;
  }

  .bg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300%;
    transition: left 0.8s ease-out;

    > * {
      height: 100%;
    }
  }

  .bg-1 {
    background-color: var(--secondary);
  }
  .bg-2 {
    background-color: var(--saturated);
  }
  .bg-3 {
    background-color: var(--accent);
  }
}
