@use '../../util' as u;

.card-16 {
  &:is(:hover, .animate, :focus-visible) {
    .blobby,
    .octagon,
    .triangle,
    .tri-sparkle,
    .octa-sparkle,
    .ring,
    .octa-sparkle {
      animation-play-state: running;
    }
  }
  .card__top {
    color: hsl(0, 0%, 40%);
    background: var(--saturated);
  }

  .center {
    @include u.center;
    place-items: center;
  }

  .blob {
    width: 100px;
    height: 100px;
    background-color: #fff;
  }

  .blobby {
    border-radius: 50%;
    animation: animation 5s cubic-bezier(0.21, -0.46, 0.73, 1.61) infinite;
    animation-play-state: paused;
  }

  .octagon {
    position: absolute;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
    transform: rotate(22deg);
    animation: octa 5s cubic-bezier(0.21, -0.46, 0.73, 1.61) infinite;
    animation-play-state: paused;
  }

  .triangle {
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: tria 5s cubic-bezier(0.21, -0.46, 0.73, 1.61) infinite;
    animation-play-state: paused;
  }

  .tri-sparkle,
  .octa-sparkle,
  .ring {
    width: 200px;
    height: 200px;
    position: absolute;
    display: grid;
    place-items: center;
  }

  .tri-sparkle,
  .octa-sparkle,
  .ring {
    animation: tri-sparkle 5s linear infinite;
    animation-play-state: paused;
  }

  .ring {
    animation: ring 5s linear infinite;
    animation-play-state: paused;
  }

  @keyframes ring {
    0%,
    75% {
      transform: scale(0);
      opacity: 1;
    }
    80% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    82%,
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .tri-sparkle * {
    position: absolute;
    height: 25px;
    width: 5px;
    border-radius: 8px;
    background-color: white;
  }

  .octa-sparkle {
    transform: translateX(-1px);
    animation: octa-sparkle 5s linear infinite;
    animation-play-state: paused;
  }

  .octa-sparkle * {
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 8px;
  }

  .octa-sparkle-2 {
    transform: rotate(45deg);
  }
  .octa-sparkle-3 {
    transform: rotate(-45deg);
  }
  .octa-sparkle-4 {
    transform: rotate(90deg);
  }

  .sparkle-1,
  .sparkle-2 {
    height: 25px;
    width: 5px;
    border-radius: 8px;
    background-color: white;
    top: 0;
  }

  .sparkle-2 {
    top: unset;
    bottom: 0;
  }

  .tri-sparkle-1 {
    top: 0;
  }
  .tri-sparkle-2 {
    transform: rotate(45deg);
    bottom: -3px;
    left: 7px;
  }
  .tri-sparkle-3 {
    transform: rotate(-45deg);
    bottom: -3px;
    right: 7px;
  }

  @keyframes tri-sparkle {
    0%,
    52% {
      transform: scale(0);
      opacity: 1;
    }
    58%,
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes octa-sparkle {
    0%,
    30% {
      transform: translateX(-1px) scale(0);
      opacity: 1;
    }
    36%,
    100% {
      transform: translateX(-1px) scale(1.5);
      opacity: 0;
    }
  }
  @keyframes animation {
    0% {
      transform: translate(0, -250px) scaleY(1.2);
    }
    10% {
      transform: translate(0, 50px) scaleY(0.85);
    }
    14% {
      transform: translate(0, -30px) scaleY(1.2);
    }
    18%,
    20% {
      transform: translate(0, 0) scaleY(1);
    }
    24% {
      transform: translate(0, 0) scale(1.2);
    }
    32%,
    72% {
      transform: translate(0, 0) scale(0);
    }

    80% {
      transform: translate(0, 0) scale(1.2);
    }
    84%,
    86% {
      transform: translate(0, 0) scale(1);
    }
    90% {
      transform: translate(0, -30px) scaleY(1);
    }
    100% {
      transform: translate(0, 400px) scaleY(1.2);
    }
  }

  @keyframes octa {
    0%,
    28% {
      transform: translate(0, 0) rotate(15deg) scale(0);
    }
    36% {
      transform: translate(0, 0) rotate(15deg) scale(1.2);
    }
    40%,
    42% {
      transform: translate(0, 0) rotate(15deg) scale(1);
    }
    46% {
      transform: translate(0, 0) rotate(15deg) scale(1.2);
    }
    54%,
    100% {
      transform: translate(0, 0) rotate(15deg) scale(0);
    }
  }

  @keyframes tria {
    0%,
    50%,
    76%,
    100% {
      transform: translate(0, 0) scale(0);
    }
    58%,
    68% {
      transform: translate(0, 0) scale(1.2);
    }
    62%,
    64% {
      transform: translate(0, 0) scale(1);
    }
  }
}
