.card-22:is(:hover, .animate, :focus-visible),
.gallery__card:is(:hover, :focus-visible) {
  .progress-bar {
    animation-play-state: running;
  }
}

.card-22 {
  .card__top {
    background-color: hsl(201, 32%, 19%);
  }

  .frame {
    color: hsla(0, 0%, 100%, 0.7);

    padding: 30px;
    display: grid;
    height: fit-content;
    grid-template-rows: auto 2fr 1fr;
    text-align: center;
    width: 100%;

    * {
      margin-inline: auto;
    }
  }

  .top {
    text-transform: uppercase;
    font-size: 1rem;
    margin-block-end: 0.5em;
  }

  .top span {
    margin-block-start: -5px;
    display: block;
    font-weight: 600;
  }

  .top span,
  .center .data__text {
    font-size: 1.5rem;
  }

  .data__text span {
    font-size: 0.875rem;
  }

  .data__text {
    font-size: 1.125rem;
  }

  .bottom .small {
    font-size: 0.75rem;
  }

  .data__text span,
  .small {
    display: block;
    margin-block-start: -5px;
    color: hsla(0, 0%, 100%, 0.5);
  }

  .center {
    width: 50%;

    svg {
      stroke-width: 9;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 8%;
    width: 65%;
  }

  .center,
  .kilometers,
  .steps {
    position: relative;
    display: grid;
    align-items: center;

    * {
      grid-row: 1/1;
      grid-column: 1/1;
    }
  }

  svg {
    width: 100%;
    fill: none;
    stroke: hsl(202, 31%, 15%);
    stroke-width: 7;
  }

  .progress-bar {
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
    animation-play-state: paused;
  }

  .center .progress-bar {
    stroke: hsl(164, 76%, 52%);
    stroke-dasharray: 80 20;
  }

  .bottom .progress-bar {
    stroke: hsl(185, 79%, 64%);
    stroke-dasharray: 65 35;
  }

  .kilometers .progress-bar {
    stroke-dasharray: 40 60;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 10 90;
    }
  }
}
