.card-17 {
  background-image: repeating-linear-gradient(
    45deg,
    rgb(255, 248, 248) 0 20px,
    hsl(120, 0%, 14%) 20px 22px
  );

  &:focus-visible .center,
  .center:is(:hover, .animate) {
    transform: rotate(90deg);
    border-radius: 50%;

    & svg {
      transform: rotate(-90deg);
    }
  }

  .center {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: hsl(0, 0%, 22%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
    display: grid;
  }

  .penrose * {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 70%;
    transition: transform 0.3s ease-in, fill 0.3s ease-in;
  }

  .light {
    fill: hsl(from var(--accent) h s 75%);
  }
  .middle {
    fill: var(--accent);
  }
  .dark {
    fill: hsl(from var(--accent) h s 25%);
  }

  &:focus-visible .center .light,
  .center:is(:hover, .animate) .light {
    fill: hsl(from var(--saturated) h s 25%);
  }
  &:focus-visible .center .middle,
  .center:is(:hover, .animate) .middle {
    fill: hsl(from var(--saturated) h s 75%);
  }
  &:focus-visible .center .dark,
  .center:is(:hover, .animate) .dark {
    fill: var(--saturated);
  }
}
