@use '../../util' as u;

.card-02 {
  $bg: hsl(20, 73%, 58%);
  .card__top {
    color: white;

    @include u.outline-theme($bg);
  }

  .center {
    position: relative;
    width: 80px;
    height: 58px;
    cursor: pointer;

    &:focus-visible {
      outline-offset: 1em;
    }
  }

  .line {
    position: absolute;
    width: 80px;
    height: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.411);
    background-color: white;
  }

  .open.line-middle {
    animation: menu-disappear 0.6s ease-in-out forwards;
  }

  .closed.line-middle {
    animation: appear 0.6s ease-in-out forwards;
  }

  @keyframes menu-disappear {
    0% {
      opacity: 1;
    }

    50%,
    100% {
      opacity: 0;
      transform: scaleX(0.4);
    }
  }

  @keyframes appear {
    0%,
    50% {
      opacity: 0;
      transform: scaleX(0.4);
    }

    100% {
      opacity: 1;
    }
  }

  .line-top {
    top: 0;
  }

  .line-bottom {
    bottom: 0;
  }

  .open.line-top {
    animation: top-open 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  }

  .open.line-bottom {
    animation: bottom-open 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  }

  .closed.line-top {
    animation: top-close 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  }

  .closed.line-bottom {
    animation: bottom-close 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  }

  @keyframes top-open {
    0% {
      top: 0;
    }

    50% {
      top: 50%;
      transform: translateY(-50%);
    }

    100% {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  @keyframes top-close {
    0% {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    50% {
      top: 50%;
      transform: translateY(-50%);
    }

    100% {
      top: 0;
    }
  }

  @keyframes bottom-open {
    0% {
      bottom: 0;
      transform: translateY(50%);
    }

    50% {
      bottom: 50%;
      transform: translateY(50%);
    }

    100% {
      bottom: 50%;
      transform: translateY(50%) rotate(135deg);
    }
  }

  @keyframes bottom-close {
    0% {
      bottom: 50%;
      transform: translateY(50%) rotate(135deg);
    }

    50% {
      bottom: 50%;
      transform: translateY(50%);
    }

    100% {
      bottom: 0;
    }
  }
}
