@forward 'gallery-cards';
@use '../util' as u;

.header {
  display: grid;
  align-items: center;
  justify-content: center;
  border-block-end: 1px solid white;
  margin-block-end: 5rem;
  min-width: 100vw;
  height: 30vh;
  background-color: var(--accent);

  &__text {
    width: clamp(320px, 80vw, 1200px);
    h1 {
      text-align: center;
      font-size: 3rem;
      font-weight: normal;
      margin-block-end: 1rem;
    }
    p {
      font-size: 1.5rem;
      text-align: right;
    }
  }
}

main {
  padding-inline: 2rem;
}

.gallery {
  margin-inline: auto;
  width: clamp(300px, 80vw, 1200px);
  border-radius: 25px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(6, 150px);
  grid-template-rows: masonry;
  justify-items: center;
  overflow: hidden;
  background-color: #303030;

  & > .card {
    display: none;
    position: relative;
    @include u.center;
    max-width: 320px;
    width: 100%;
    min-height: 300px;
    border: var(--border);

    overflow: hidden;
    grid-row: span 2;
  }

  .animate > .overlay-animation {
    opacity: 0;
    pointer-events: none;
  }
  .overlay-animation {
    @include u.center;
    position: absolute;
    inset: 0;
    font-weight: 900;
    text-align: center;
    text-wrap: balance;
    background-color: hsl(from var(--accent) h s l / 0.7);
    z-index: 99;
    transition: all 0.5s ease-out;

    .btn--animation {
      align-content: center;
      display: block;
      width: 150px;
      padding-inline: 10px;
      border: 2px solid var(--background);
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      background-color: var(--background);
      color: var(--accent);
      cursor: pointer;
    }
  }
}

.frame {
  position: relative;
  overflow: hidden;
  box-shadow: 4px 8px 16px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.center {
  @include u.center;
}

.gallery .frame--circle {
  @include u.center;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

// Animations
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(10deg) translateY(0);
  }
  50% {
    transform: rotate(10deg) translateY(-4px);
  }
}
