@use './abstracts' as m;
@use './base';
@use './components';
@use './pages/gallery';

body {
  position: relative;
  min-width: 375px;
}

.main {
  @include m.flex-container(column, null, center);

  &:target {
    scroll-margin-block-start: 5rem;
  }

  .description {
    padding-inline: 1rem;
    margin-block-end: 5rem;

    p {
      max-width: 65ch;

      &:nth-child(2) {
        margin-block-start: 1rem;
      }
    }
  }
}
