@use './util' as u;
@use './components/footer';
@use './components/nav';
@use './components/gallery-cards/card-03';
@use './components/gallery-cards/card-04';
@use './components/gallery-cards/card-10';
@use './components/gallery-cards/card-17';
@use './components/gallery-cards/card-22';
@use './util/typed' as t;
@use 'sass:string';

/* === Hero Section === */

.hero {
  &.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__text {
    max-width: 520px;
    align-self: start;

    .small {
      display: block;
      font-size: clamp(1.25rem, 3vw, 2rem);
      font-family: 'Source Sans 3';
      letter-spacing: 1%;
      color: var(--text);
    }

    h1 {
      max-width: 13ch;
    }

    h1 > span {
      color: var(--accent);
    }

    .btn {
      display: none;
    }
  }

  &__img {
    position: relative;
    top: -8rem;
    min-width: 384px;
    height: auto;
    align-self: center;

    picture {
      position: relative;
      top: 0;
      right: 0;
      // width: 100%;
      height: auto;
      object-fit: contain;
      z-index: -1;
    }

    .outline {
      position: absolute;
      top: -10%;
      right: -12%;
      width: 125%;
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7)
      );

      path {
        transform-origin: 65% 70%;
      }

      @include u.random-duration(path, 5, outline-rotate);

      @keyframes outline-rotate {
        to {
          transform: rotate(-2deg);
        }
      }
    }
  }

  .lines {
    margin-block-start: -5rem;
    transform: translateX(-2rem);
  }

  .lines-svg {
    width: calc(100% + 4rem);
    stroke: var(--text);
  }
}

/* === About Me Section === */

.about-me {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--background) 10%,
    var(--primary) 100%
  );

  &.animate {
    text {
      animation: pop-up 0.4s ease-out 1s forwards;
    }

    .about-me__frame {
      animation: path-length 4s ease-in-out forwards;

      @keyframes path-length {
        to {
          stroke-dasharray: 1;
        }
      }
    }
  }

  // Hide for mobile

  h2,
  h3 {
    height: 0;
    width: 0;
    overflow: hidden;
    margin: 0;
  }

  h3 {
    position: relative;
    display: flex;
    padding-inline-end: 100px;

    justify-content: space-between;
    font-size: 3rem;
    font-weight: 500;
  }

  &__frame {
    display: none;
  }

  &__text {
    max-width: 65ch;
    min-width: 25ch;

    p:first-child {
      margin-block-end: 1em;
    }
  }
}

/* About Me - Widget */

.widget {
  width: clamp(345px, 85%, 600px);
  margin-inline: auto;
  display: grid;
  align-items: center;
  margin-block-start: -100px;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__text {
    font-family: 'Playfair Display';
    overflow: hidden;

    & > text {
      position: relative;
      font-size: 18px;
      opacity: 0;

      &:last-child {
        font-size: 12px;
      }
    }

    @include u.random-delay(text, 0.5s, 2, 5);

    & > text:nth-child(2) {
      transform: translate(5px, 5px);
    }
    & > text:nth-child(3) {
      transform: translate(2px, 5px);
    }
    & > text:nth-child(4) {
      transform: translate(-5px, 5px);
    }
    & > text:nth-child(5) {
      transform: translate(0px, 5px);
    }

    @keyframes pop-up {
      to {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }

  &__avatar,
  &__img {
    margin-inline: auto;
    aspect-ratio: 1 / 1;
  }

  &__avatar {
    @include u.center;
    max-width: 70%;
    background-color: var(--saturated);
    transform-origin: center;
    animation: spin 90s linear infinite;
    mask-image: url('../../src/assets/svg/widget-star.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  &__img {
    position: relative;
    align-self: end;
    width: 100%;
    object-fit: cover;
    transform-origin: center;

    animation: spin 90s linear reverse infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

/* === Code Section === */

.code {
  box-shadow: var(--shadow);

  & > .wrapper {
    position: relative;
  }

  .circle {
    position: absolute;
    width: clamp(600px, 100vw, 850px);
    aspect-ratio: 1 / 1;
    right: 5%;
    top: 7%;
    border-radius: 50%;
    background-color: hsl(from var(--secondary) h s l / 0.19);
    z-index: -1;
  }

  &__text p:first-child {
    margin-block-end: 1em;
  }

  &__list {
    @include u.list-tab(8);

    &__item {
      width: fit-content;
      padding: 0.185em 1rem;
      border-radius: 21px;
      font-weight: 700;
      background-color: hsl(from var(--secondary) h s l / 0.58);
      text-wrap: nowrap;
      transition: transform 0.3s ease-out, background-color 0.3s ease-out;

      &:hover {
        background-color: hsl(from var(--saturated) h s l / 0.58);

        transform: translateX(1.5em);
      }
    }
  }

  &__container {
    width: 100%;
    display: grid;
    justify-items: center;
  }

  div:has(> .spark) {
    position: relative;
    width: 100%;
  }

  .window {
    @include u.window(var(--background));
    margin-block-start: 50px;
    aspect-ratio: 4 / 3;
    z-index: auto;
    justify-self: center;

    &__header {
      display: flex;
      align-items: center;
      gap: 0.25em;
      height: 15%;
      padding-inline-start: 1em;
      border-block-end: var(--border);
      border-radius: 22px 22px 0 0;
      background-color: var(--primary);

      span {
        height: 55%;
        aspect-ratio: 1 / 1;
        border: 1px solid var(--text);
        border-radius: 50%;
        background-color: var(--background);
      }
    }

    code {
      position: absolute;
      font-size: clamp(1rem, 4vw, 2rem);
      top: 20%;
      left: 5%;
      max-height: 80%;
      overflow-y: hidden;

      /* Typing effect SCSS mixin by @branmcconnell
      Source: https://github.com/brandonmcconnell/typed.css
      License: CC0 */

      @include t.typed(
        '<h1>Hello World!</h1>',
        '.spark {\A   display: your-design;\A   color: orange;\A}',
        '@media screen and (min-width: 80rem) {\A  .text {\A    text-align: center;\A  }\A}',
        'let design = "clean, clever & user-friendly";\A if (challenge) solveIt();',
        'git commit -m "Merge creativity with code"',
        'npm install -g gulp-cli browser-sync',
        'Enjoy your website!',
        2
      );
    }
  }

  .spark {
    position: absolute;
    aspect-ratio: 1 / 1;
    margin: 0;
    fill: var(--accent);
    transition: filter 0.5s ease-in-out, scale 0.5s ease-in-out,
      rotate 0.5s ease-in-out;
  }

  .spark-1 {
    width: clamp(75px, 10vw, 100px);
    top: -15%;
    right: 5%;
  }

  .spark-2 {
    width: clamp(75px, 10vw, 150px);
    top: 80%;
    left: 5%;
  }
}

/* === Portfolio Section === */

.portfolio {
  position: relative;
  min-height: 550px;
  text-align: center;
  font-size: 16px;

  &::after {
    @include u.pseudo;
    inset: 0;
    height: 100%;
    background: url('../../src/assets/svg/dots-background.svg') no-repeat 70%
      70%;
    mask-image: linear-gradient(to bottom, transparent 15%, black 140%);
    z-index: -2;
  }

  .wrapper > * + * {
    margin-block-start: 75px;
  }

  $color-palette-gallery: hsl(312, 100%, 96%), hsl(251, 100%, 89%),
    hsl(45, 100%, 84%), hsl(30, 100%, 88%), hsl(152, 100%, 80%);
  @include u.set-color-palette(
    '.portfolio-gallery__card',
    $color-palette-gallery,
    true
  );

  .portfolio-gallery {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;

    &__card {
      position: relative;
      border: 2px solid var(--text);
      border-radius: 25px;
      min-width: 105px;
      width: clamp(105px, 30vw, 200px);
      aspect-ratio: 3/5;
      overflow: hidden;
      transition: transform 0.3s ease-out;

      &::after {
        @include u.pseudo;
        inset: 0;
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
      }

      &:not(:first-child) {
        margin-inline-start: -3em;
      }

      &:is(:hover, :focus-visible) {
        transform: translateY(-2em);

        &::after {
          opacity: 0;
        }

        & ~ .portfolio-gallery__card {
          transform: translateX(calc(-3em * -1));
        }
      }

      > * {
        position: relative;
        width: 100%;
        height: 100%;

        display: grid;
        place-items: center;
      }
    }

    .card-03 {
      background-color: hsl(0, 0%, 15%);

      .frame {
        scale: 1.4;
      }
    }

    .card-04 {
      background-color: hsl(152, 100%, 80%);
    }

    .card-10 {
      background-color: hsl(45, 100%, 84%);

      .center {
        width: 90%;
      }

      .data {
        font-size: clamp(0.25rem, 60%, 0.75rem);
      }
      .time {
        font-size: clamp(1rem, 6vw, 2.5rem);
      }
    }

    .card-17 {
      background-image: repeating-linear-gradient(
        45deg,
        rgb(255, 248, 248) 0 10%,
        hsl(120, 0%, 14%) 10% 11%
      );
      .center {
        scale: 1.7;
      }
    }

    .card-22 {
      background-color: hsl(201, 32%, 19%);

      .frame {
        padding: 0;
      }

      .top,
      .data__text {
        font-size: clamp(0.75rem, 2vw, 16px);
      }

      .top span,
      .center .data__text {
        font-size: clamp(1rem, 2vw, 1.5rem);
      }

      .data__text span {
        font-size: clamp(0.5rem, 2vw, 0.825rem);
      }
    }
  }
}

// .buttons-gallery {
//   position: relative;
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
// }

/* === Contact Section === */

.contact {
  position: relative;

  & > .wrapper {
    position: relative;
  }

  box-shadow: var(--shadow);
  background-color: var(--primary);

  .section__header {
    margin-block-end: 3rem;
  }

  h2 {
    max-width: 10ch;
    font-size: clamp(2.8rem, 7vw, 5.25rem);
    font-size: clamp(2.8rem, 7vw, 84px);
    line-height: 1.12;
    z-index: 1;

    &::after {
      display: none;
    }

    span {
      position: relative;
      display: inline-block;

      &::after {
        @include u.highlight;
        height: 35%;
      }
    }
  }

  /* Contact Window */

  .window {
    max-width: fit-content;

    @include u.window(var(--text));
    width: auto;

    h3 {
      padding: 0.15em 0.15em 0.15em 1.5rem;
      line-height: 3rem;
      color: var(--background);
    }
  }

  &__metadata {
    height: auto;
    padding: 1.5em 2em 1.5em 1.5rem;
    border-radius: 0 0 25px 25px;
    color: var(--text);
    background-color: var(--background);
    font-style: normal;
    font-size: clamp(1rem, 3vw, 1.5rem);

    & > a:not(a:last-child) {
      margin-block-end: 1.5em;
    }

    a {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 1em;

      hyphens: none;
      word-break: break-all;
      transition: color ease-in-out 0.2s;

      &:not([href^='tel']) {
        text-decoration: underline;
      }

      &:is(:hover, :focus-visible) {
        color: var(--accent);
      }
    }

    .icon {
      --icon-size: clamp(36px, 4vw, 3.125rem);

      width: var(--icon-size);
      height: var(--icon-size);
      padding: 5px;
      border-radius: 5px;
      background-color: var(--text);
      font-size: clamp(1rem, 1vw, 4rem);
    }
  }

  /* Sun Element */

  .sun-wrapper {
    position: absolute;
    margin-block-start: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }

  .sun {
    --sun-size: clamp(230px, 40vw, 400px);
    --linear-function: linear(
      0,
      0.002 0.6%,
      0.007 1.2%,
      0.015 1.8%,
      0.027 2.5%,
      0.043 3.2%,
      0.062 3.9%,
      0.11 5.4%,
      0.159 6.7%,
      0.217 8.1%,
      0.469 13.8%,
      0.578 16.4%,
      0.632 17.8%,
      0.683 19.2%,
      0.731 20.6%,
      0.771 21.9%,
      0.808 23.2%,
      0.844 24.6%,
      0.877 26%,
      0.905 27.4%,
      0.93 28.8%,
      0.952 30.2%,
      0.972 31.7%,
      0.989 33.2%,
      1.011 35.8%,
      1.026 38.6%,
      1.035 41.7%,
      1.039 45.2%,
      1.035 50.2%,
      1.013 64.4%,
      1.003 73.2%,
      0.999 83.9%,
      1
    );

    position: absolute;
    width: var(--sun-size);
    height: var(--sun-size);
    fill: var(--secondary);
    top: 15%;
    left: 55vw;

    rotate: 80deg;
    transform-origin: -100% 300%;
    transition: rotate 1.5s var(--linear-function) 1.5s;
  }

  &.animate .sun {
    rotate: 0deg;
  }
}
